{% extends 'layout_clinic.html.twig' %}

{% block meta_title %}TVG Inventory Search{% endblock %}

{% block meta_decription %}
    <meta name="description" content="">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="hidden users-flash" id="flash"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12" id="inventory">
                {% for product in products %}
                    <div class="row mb-4 prd-container p-0">
                        <div class="alert-warning p-2 hidden_msg" id="product_notes_label_{{ product.id }}"></div>
                        {# Product main container #}
                        <div class="col-12 col-sm-9 ps-3">
                            <div class="row">
                                {# Thumbnail #}
                                <div class="col-12 col-sm-2 pt-3">
                                    <img src="{{ asset('images/products/'~ product.image) }}" class="img-fluid prd-img">
                                </div>
                                {# Description #}
                                <div class="col-12 col-sm-10 pt-3 pb-3">
                                    <h4>{{ product.name }}: {{ product.dosage ~ product.unit }}, {{ product.size }} Count</h4>
                                    {% set price_from = product.unitPrice / product.size %}
                                    <p>From ${{ price_from|number_format(2, '.', ',') }} / {{ product.form|lower }}</p>
                                    {# Product rating #}
                                    <div id="parent_{{ product.id }}" class="mb-3 mt-2 d-inline-block">
                                        <i class="star star-under fa fa-star">
                                            <i class="star star-over fa fa-star"></i>
                                        </i>
                                        <i class="star star-under fa fa-star">
                                            <i class="star star-over fa fa-star"></i>
                                        </i>
                                        <i class="star star-under fa fa-star">
                                            <i class="star star-over fa fa-star"></i>
                                        </i>
                                        <i class="star star-under fa fa-star">
                                            <i class="star star-over fa fa-star"></i>
                                        </i>
                                        <i class="star star-under fa fa-star">
                                            <i class="star star-over fa fa-star"></i>
                                        </i>
                                    </div>
                                    <div id="review_count_{{ product.id }}" class="d-inline-block"></div>
                                </div>

                                {# Collapsable panels #}
                                <div class="col-12 search-panels-header">
                                    {# Description #}
                                    <button class="btn btn-sm btn-light info ps-0 pe-5 pe-sm-0" type="button" id="btn_details_{{ product.id }}">
                                        <i class="fa-regular fa-circle-question"></i> <span class="d-none d-sm-inline">Details</span>
                                    </button>
                                    {# Shopping lists #}
                                    <button class="btn btn-sm btn-light info pe-4 pe-sm-0" type="button" id="btn_lists_{{ product.id }}">
                                        <i class="fa-solid fa-list"></i> <span class="d-none d-sm-inline">Lists</span>
                                    </button>
                                    {# Tracking #}
                                    <button class="btn btn-sm btn-light info pe-4 pe-sm-0" type="button" id="btn_track_{{ product.id }}">
                                        <i class="fa-regular fa-eye"></i> <span class="d-none d-sm-inline">Track</span>
                                    </button>
                                    {# Notes #}
                                    <button class="btn btn-sm btn-light info pe-4 pe-sm-0" type="button" id="btn_notes_{{ product.id }}">
                                        <i class="fa-solid fa-pencil"></i> <span class="d-none d-sm-inline">Notes</span>
                                    </button>
                                    {# Reviews #}
                                    <button class="btn btn-sm btn-light info pe-4 pe-sm-0" type="button" id="btn_reviews_{{ product.id }}">
                                        <i class="fa-regular fa-star"></i> <span class="d-none d-sm-inline">Reviews</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        {# Distributors #}
                        <div class="col-12 col-sm-3 mt-0 pt-3 pe-4 search-result-distributors">
                            {% for distributor in product.distributorProducts %}
                                <div class="row distributor-store-row">
                                    <div class="col-12 col-sm-6">
                                        <img src="{{ asset('images/logos/' ~ distributor.distributor.logo) }}" class="img-fluid mh-30">
                                    </div>
                                    <div class="col-12 col-sm-6 text-end">
                                        <p>${{ distributor.unitPrice|number_format(2, '.', ',') }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        {# Panels #}
                        <div class="col-12 ps-3 pe-3">
                            <div class="col-12 search-panels-container" id="search_panels_container_{{ product.id }}">

                                {# Description #}
                                <div class="hidden" id="details_{{ product.id }}">
                                    <h3 class="pb-3 pt-3">Item Description</h3>
                                    {{ product.description|raw }}
                                </div>

                                {# Shopping lists #}
                                <div class="collapse" id="lists_{{ product.id }}">
                                    <h3 class="pb-3 pt-3">Shopping Lists</h3>
                                    <p id="lists_no_data_{{ product.id }}">
                                        You do not currently have any shopping lists on TVG
                                        <br><br>
                                        Have shopping lists with your suppliers? We'll import them!
                                        Send us a message using the chat icon in the lower right corner and we will
                                        help import you lists!

                                        You can also create new lists using the Create List button below
                                    </p>
                                </div>

                                {# Track #}
                                <div class="collapse" id="track_{{ product.id }}">
                                    <h3 class="pb-3 pt-3">Availability Tracker</h3>
                                    <p id="track_no_data">
                                        Create custom alerts when a backordered item comes back in stock. Set a notification
                                        for how you would like to be notified and which suppliers you would like to track.
                                        Once an item comes back in stock and you are notified, the tracker will automatically
                                        turn off. You can also view a list of all tracked items in your shopping list.
                                        Note: TVG cannot track the availability of items that are drop shipped directly
                                        from the vendor.
                                    </p>
                                </div>

                                {# Notes #}
                                <div class="collapse" id="notes_{{ product.id }}">
                                    <h3 class="pb-3 pt-3">Item Notes</h3>
                                </div>

                                {# Reviews #}
                                <div class="collapse" id="reviews_{{ product.id }}">
                                    <h3 class="pb-3 pt-3">Reviews</h3>
                                    <h5>No reviews yet!</h5>
                                    <p id="reviews_no_data">Reviews help thousands of veterinary purchasers know about your experience
                                        with this. Submit your review below.
                                        <br><br>
                                        <a href="" class="btn btn-primary btn_create_review" data-bs-toggle="modal" data-product-id="{{ product.id }}" data-bs-target="#modal_review">
                                            WRITE A REVIEW
                                        </a>
                                    </p>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {# Modal Delete Note #}
                <div class="modal fade" id="modal_note_delete" tabindex="-1" aria-labelledby="note_delete_label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="note_delete_label">Delete User</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12 mb-0">
                                        Are you sure you would like to delete this note? This action cannot be undone.
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">CANCEL</button>
                                <button type="submit" class="btn btn-danger btn-sm" id="delete_note" data-delete-note-id="" data-delete-product-id="">DELETE</button>
                            </div>
                        </div>
                    </div>
                </div>

                {# Modal Review #}
                <div class="modal fade" id="modal_review" tabindex="-1" aria-labelledby="review_label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form name="form_review" id="form_review" method="post">
                                <input type="hidden" name="review_product_id" id="review_product_id" value="0">
                                <input type="hidden" name="rating" id="rating" value="0">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12 col-sm-4 mb-0">
                                            <h6>Review guidelines</h6>
                                            <br>
                                            <ul>
                                                <li>
                                                    <b>Be Helpful and Relevant</b> - Reviews are intended to provide helpful,
                                                    meaningful content to customers.
                                                    <br>
                                                    <br>
                                                </li>
                                                <li>
                                                    <b>Be Honest</b> - In order to preserve the integrity of our reviews, content
                                                    should be an accurate representation of your experience with this item.
                                                    TVG strictly forbids commercial solicitations or compensation in exchange
                                                    for positive reviews.
                                                    <br>
                                                    <br>
                                                </li>
                                                <li>
                                                    <b>Stay Relevant</b> - Reviews should focus on the pros and cons of the item.
                                                    Reviews focusing on the supplier or manufacturer directly will not be
                                                    approved.
                                                    <br>
                                                    <br>
                                                </li>
                                                <li>
                                                    <b>Acknowledge</b> - Please note that by submitting you acknowledge that
                                                    your review may be used by the manufacturer in future marketing materials
                                                    for this brand.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-sm-8 mb-0 ps-3 ps-sm-5">
                                            <h5>Write a review for:</h5>
                                            <h6 class="text-primary">Terbinafine Tablets: 250mg, 100 Count</h6>
                                            <br>
                                            RATE THIS ITEM
                                            <div id="review_rating" class="mb-3 mt-2 d-inline-block">
                                                <div style="position: relative; display: inline-block">
                                                    <i class="star star-under fa fa-star star-lg" id="star-under-1"></i>
                                                    <i class="star star-over fa fa-star star-lg" id="star-over-1"></i>
                                                </div>
                                                <div style="position: relative; display: inline-block">
                                                    <i class="star star-under fa fa-star star-lg" id="star-under-2"></i>
                                                    <i class="star star-over fa fa-star star-lg" id="star-over-2"></i>
                                                </div>
                                                <div style="position: relative; display: inline-block">
                                                    <i class="star star-under fa fa-star star-lg" id="star-under-3"></i>
                                                    <i class="star star-over fa fa-star star-lg" id="star-over-3"></i>
                                                </div>
                                                <div style="position: relative; display: inline-block">
                                                    <i class="star star-under fa fa-star star-lg" id="star-under-4"></i>
                                                    <i class="star star-over fa fa-star star-lg" id="star-over-4"></i>
                                                </div>
                                                <div style="position: relative; display: inline-block">
                                                    <i class="star star-under fa fa-star star-lg" id="star-under-5"></i>
                                                    <i class="star star-over fa fa-star star-lg" id="star-over-5"></i>
                                                </div>
                                                <div class="hidden_msg" id="error_rating">
                                                    Please click to rate this item
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <label>Title</label>
                                                    <input name="review_title" id="review_title" type="text" class="form-control">
                                                </div>
                                                <div class="hidden_msg" id="error_review_title">
                                                    Required Field
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <label>Review</label>
                                                    <textarea rows="4" name="review" id="review" class="form-control"></textarea>
                                                    <div class="hidden_msg" id="error_review">
                                                        Required Field
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <label>
                                                        Username
                                                    </label>
                                                    <input type="text" name="review_username" id="review_username" class="form-control">
                                                    <div class="hidden_msg" id="error_review_username">
                                                        Required Field
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <label>
                                                        Position
                                                    </label>
                                                    <select name="position" id="review_position" class="form-control">
                                                        <option value=""></option>
                                                        <option value="Technician">Technician</option>
                                                        <option value="Credentialed Technician">Credentialed Technician</option>
                                                        <option value="Veterinary Assistant">Veterinary Assistant</option>
                                                        <option value="Doctor">Doctor</option>
                                                        <option value="Doctor, Owner">Doctor, Owner</option>
                                                        <option value="Doctor, Diplomate">Doctor, Diplomate</option>
                                                        <option value="Doctor, Diplomate, Owner">Doctor, Diplomate, Owner</option>
                                                        <option value="Non-DVM Owner">Non-DVM Owner</option>
                                                        <option value="Inventory Manager">Inventory Manager</option>
                                                        <option value="Hospital Manager">Hospital Manager</option>
                                                        <option value="Office Staff">Office Staff</option>
                                                    </select>
                                                    <div class="hidden_msg" id="error_review_position">
                                                        Required Field
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">CANCEL</button>
                                    <button type="submit" class="btn btn-primary btn-sm">CREATE REVIEW</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script id="jquery">

        $(document).ready(function (){

            let rating = 0;

            $(document).on('click', '#star-over-1', function (){
                $('#rating').val(0);
                $('#star-over-1').fadeOut(700);
                $('#star-over-2').fadeOut(700);
                $('#star-over-3').fadeOut(700);
                $('#star-over-4').fadeOut(700);
                $('#star-over-5').fadeOut(700);
            });

            $(document).on('click', '#star-under-1', function (){
                $('#rating').val(1);
                $('#star-over-1').fadeIn(700);
                $('#star-over-2').fadeOut(700);
                $('#star-over-3').fadeOut(700);
                $('#star-over-4').fadeOut(700);
                $('#star-over-5').fadeOut(700);
            });

            $(document).on('click', '#star-under-2', function (){
                $('#rating').val(2);
                $('#star-over-1').fadeIn(700);
                $('#star-over-2').fadeIn(700);
                $('#star-over-3').fadeOut(700);
                $('#star-over-4').fadeOut(700);
                $('#star-over-5').fadeOut(700);
            });

            $(document).on('click', '#star-over-2', function (){
                $('#rating').val(1);
                $('#star-over-2').fadeOut(700);
                $('#star-over-3').fadeOut(700);
                $('#star-over-4').fadeOut(700);
                $('#star-over-5').fadeOut(700);
            });

            $(document).on('click', '#star-under-3', function (){
                $('#rating').val(3);
                $('#star-over-1').fadeIn(700);
                $('#star-over-2').fadeIn(700);
                $('#star-over-3').fadeIn(700);
                $('#star-over-4').fadeOut(700);
                $('#star-over-5').fadeOut(700);
            });

            $(document).on('click', '#star-over-3', function (){
                $('#rating').val(2);
                $('#star-over-1').fadeIn(700);
                $('#star-over-2').fadeIn(700);
                $('#star-over-3').fadeOut(700);
                $('#star-over-4').fadeOut(700);
                $('#star-over-5').fadeOut(700);
            });

            $(document).on('click', '#star-under-4', function (){
                $('#rating').val(4);
                $('#star-over-1').fadeIn(700);
                $('#star-over-2').fadeIn(700);
                $('#star-over-3').fadeIn(700);
                $('#star-over-4').fadeIn(700);
                $('#star-over-5').fadeOut(700);
            });

            $(document).on('click', '#star-over-4', function (){
                $('#rating').val(3);
                $('#star-over-1').fadeIn(700);
                $('#star-over-2').fadeIn(700);
                $('#star-over-3').fadeIn(700);
                $('#star-over-4').fadeOut(700);
                $('#star-over-5').fadeOut(700);
            });

            $(document).on('click', '#star-under-5', function (){
                $('#rating').val(5);
                $('#star-over-1').fadeIn(700);
                $('#star-over-2').fadeIn(700);
                $('#star-over-3').fadeIn(700);
                $('#star-over-4').fadeIn(700);
                $('#star-over-5').fadeIn(700);
            });

            $(document).on('click', '#star-over-5', function (){
                $('#rating').val(4);
                $('#star-over-1').fadeIn(700);
                $('#star-over-2').fadeIn(700);
                $('#star-over-3').fadeIn(700);
                $('#star-over-4').fadeIn(700);
                $('#star-over-5').fadeOut(700);
            });

            {% for product in products %}

                $('#search_panels_container_{{ product.id }}').hide();

                {# Details #}
                $(document).on('click', '#btn_details_{{ product.id }}', function(){
                    if($('#details_{{ product.id }}:visible').length) {

                        $('#details_{{ product.id }}').hide(700);
                        $('#search_panels_container_{{ product.id }}').hide(700);
                        $('#btn_details_{{ product.id }}').removeClass('active').removeClass('active');

                    } else {

                        $('#search_panels_container_{{ product.id }}').show();
                        $('#details_{{ product.id }}').show(700);
                        $('#lists_{{ product.id }}').hide(700);
                        $('#track_{{ product.id }}').hide(700);
                        $('#notes_{{ product.id }}').hide(700);
                        $('#reviews_{{ product.id }}').hide(700);
                        $('#btn_details_{{ product.id }}').addClass('active');
                        $('#btn_lists_{{ product.id }}').removeClass('active');
                        $('#btn_track_{{ product.id }}').removeClass('active');
                        $('#btn_notes_{{ product.id }}').removeClass('active');
                        $('#btn_reviews_{{ product.id }}').removeClass('active');
                    }
                });

                {# Shopping Lists #}
                $(document).on('click', '#btn_lists_{{ product.id }}', function(){

                    if($('#lists_{{ product.id }}:visible').length) {

                        $('#lists_{{ product.id }}').hide(700);
                        $('#search_panels_container_{{ product.id }}').hide(700);
                        $('#btn_lists_{{ product.id }}').removeClass('active').removeClass('active');

                    } else {

                        $.ajax({
                            url: "{{ path('inventory_get_lists') }}",
                            type: 'POST',
                            cache: false,
                            timeout: 600000,
                            dataType: 'json',
                            data: {
                                id: '{{ product.id }}'
                            },
                            success: function (response) {
                                $('#lists_{{ product.id }}').empty();
                                $('#lists_{{ product.id }}').append(response);

                            }
                        });

                        $('#search_panels_container_{{ product.id }}').show();
                        $('#details_{{ product.id }}').hide(700);
                        $('#lists_{{ product.id }}').show(700);
                        $('#track_{{ product.id }}').hide(700);
                        $('#notes_{{ product.id }}').hide(700);
                        $('#reviews_{{ product.id }}').hide(700);
                        $('#btn_details_{{ product.id }}').removeClass('active');
                        $('#btn_lists_{{ product.id }}').addClass('active');
                        $('#btn_track_{{ product.id }}').removeClass('active');
                        $('#btn_notes_{{ product.id }}').removeClass('active');
                        $('#btn_reviews_{{ product.id }}').removeClass('active');
                    }
                });

                $(document).on('submit', '#form_list_{{ product.id }}', function (e){

                    e.preventDefault();

                    let list_name_{{ product.id }} = $('#list_name_{{ product.id }}').val();
                    let list_name_error_{{ product.id }} = $('#error_list_name_{{ product.id }}');
                    let data = new FormData(this);
                    let is_valid = true;

                    list_name_error_{{ product.id }}.hide()

                    if(list_name_{{ product.id }} == '' || list_name_{{ product.id }} == 'undefined'){

                        list_name_error_{{ product.id }}.show();
                        is_valid = false;
                    }

                    if(is_valid) {

                        $.ajax({
                            url: "{{ path('inventory_manage_list') }}",
                            type: 'POST',
                            contentType: false,
                            processData: false,
                            cache: false,
                            timeout: 600000,
                            dataType: 'json',
                            data: data,
                            success: function (response) {
                                $('#lists_{{ product.id }}').empty().append(response.html_code);
                            }
                        });
                    }
                });

                {# Tracking #}
                $(document).on('click', '#btn_track_{{ product.id }}', function(){
                    if($('#track_{{ product.id }}:visible').length) {

                        $('#track_{{ product.id }}').hide(700);
                        $('#search_panels_container_{{ product.id }}').hide(700);
                        $('#btn_track_{{ product.id }}').removeClass('active').removeClass('active');

                    } else {

                        $('#search_panels_container_{{ product.id }}').show();
                        $('#details_{{ product.id }}').hide(700);
                        $('#lists_{{ product.id }}').hide(700);
                        $('#track_{{ product.id }}').show(700);
                        $('#notes_{{ product.id }}').hide(700);
                        $('#reviews_{{ product.id }}').hide(700);
                        $('#btn_details_{{ product.id }}').removeClass('active');
                        $('#btn_lists_{{ product.id }}').removeClass('active');
                        $('#btn_track_{{ product.id }}').addClass('active');
                        $('#btn_notes_{{ product.id }}').removeClass('active');
                        $('#btn_reviews_{{ product.id }}').removeClass('active');
                    }
                });

                {# Notes #}
                $.ajax({
                    url: "{{ path('clinic_get_product_notes') }}",
                    type: 'POST',
                    cache: false,
                    timeout: 600000,
                    dataType: 'json',
                    data: {
                        product_id: '{{ product.id }}'
                    },
                    success: function (response) {

                        if(response){
                            $('#product_notes_label_{{ product.id }}').append('<a class="note-link" id="note_link_{{ product.id }}" href=""><i class="fa-solid fa-pen-to-square"></i> <b>Notes From '+ response.from +':</b> '+ response.note +'</a>');
                            $('#product_notes_label_{{ product.id }}').removeClass('hidden_msg');
                        }
                    }
                });

                $(document).on('click', '#btn_notes_{{ product.id }}, #note_link_{{ product.id }}', function(e){

                    e.preventDefault();

                    if($('#notes_{{ product.id }}:visible').length) {

                        $('#notes_{{ product.id }}').hide(700);
                        $('#search_panels_container_{{ product.id }}').hide(700);
                        $('#btn_notes_{{ product.id }}').removeClass('active').removeClass('active');

                    } else {

                        $.ajax({
                            url: "{{ path('inventory_get_notes') }}",
                            type: 'POST',
                            cache: false,
                            timeout: 600000,
                            dataType: 'json',
                            data: {
                                id: '{{ product.id }}'
                            },
                            success: function (response) {

                                $('#notes_{{ product.id }}').empty();
                                $('#notes_{{ product.id }}').append(response);

                            }
                        });

                        $('#search_panels_container_{{ product.id }}').show();
                        $('#details_{{ product.id }}').hide(700);
                        $('#lists_{{ product.id }}').hide(700);
                        $('#track_{{ product.id }}').hide(700);
                        $('#notes_{{ product.id }}').show(700);
                        $('#reviews_{{ product.id }}').hide(700);
                        $('#btn_details_{{ product.id }}').removeClass('active');
                        $('#btn_lists_{{ product.id }}').removeClass('active');
                        $('#btn_track_{{ product.id }}').removeClass('active');
                        $('#btn_notes_{{ product.id }}').addClass('active');
                        $('#btn_reviews_{{ product.id }}').removeClass('active');
                    }
                });

                $(document).on('submit', '#form_note_{{ product.id }}', function (e){

                    e.preventDefault();

                    let note_{{ product.id }} = $('#note_{{ product.id }}').val();
                    let note_error_{{ product.id }} = $('#error_note_{{ product.id }}');
                    let data = new FormData(this);
                    let is_valid = true;

                    note_error_{{ product.id }}.hide()

                    if(note_{{ product.id }} == '' || note_{{ product.id }} == 'undefined'){

                        note_error_{{ product.id }}.show();
                        is_valid = false;
                    }

                    if(is_valid) {

                        $.ajax({
                            url: "{{ path('inventory_manage_note') }}",
                            type: 'POST',
                            contentType: false,
                            processData: false,
                            cache: false,
                            timeout: 600000,
                            dataType: 'json',
                            data: data,
                            success: function (response) {
                                $('#notes_{{ product.id }}').empty().append(response);

                                $.ajax({
                                    url: "{{ path('clinic_get_product_notes') }}",
                                    type: 'POST',
                                    cache: false,
                                    timeout: 600000,
                                    dataType: 'json',
                                    data: {
                                        product_id: '{{ product.id }}'
                                    },
                                    success: function (response) {

                                        if(response){
                                            $('#product_notes_label_{{ product.id }}').empty().append('<i class="fa-solid fa-pen-to-square"></i> <b>Notes From '+ response.from +':</b> '+ response.note);
                                            $('#product_notes_label_{{ product.id }}').removeClass('hidden_msg');

                                        } else {
                                            $('#product_notes_label_{{ product.id }}').addClass('hidden_msg');
                                        }
                                    }
                                });
                            }
                        });
                    }
                });

                {# Reviews #}
                $(document).on('click', '#btn_reviews_{{ product.id }}', function(){
                    if($('#reviews_{{ product.id }}:visible').length) {

                        $('#reviews_{{ product.id }}').hide(700);
                        $('#search_panels_container_{{ product.id }}').hide(700);
                        $('#btn_reviews_{{ product.id }}').removeClass('active').removeClass('active');

                    } else {

                        $('#search_panels_container_{{ product.id }}').show();
                        $('#details_{{ product.id }}').hide(700);
                        $('#lists_{{ product.id }}').hide(700);
                        $('#track_{{ product.id }}').hide(700);
                        $('#notes_{{ product.id }}').hide(700);
                        $('#reviews_{{ product.id }}').show(700);
                        $('#btn_details_{{ product.id }}').removeClass('active');
                        $('#btn_lists_{{ product.id }}').removeClass('active');
                        $('#btn_track_{{ product.id }}').removeClass('active');
                        $('#btn_notes_{{ product.id }}').removeClass('active');
                        $('#btn_reviews_{{ product.id }}').addClass('active');

                        $.ajax({
                            url: "{{ path('get_review_details', {'product_id': product.id}) }}",
                            type: 'GET',
                            cache: false,
                            timeout: 600000,
                            dataType: 'json',
                            success: function (response) {
                                if(response != false) {
                                    $('#reviews_{{ product.id }}').empty().append(response);
                                }
                            }
                        });
                    }
                });

                $.ajax({
                    url: "{{ path('get_reviews', {'product_id': product.id}) }}",
                    type: 'POST',
                    cache: false,
                    timeout: 600000,
                    dataType: 'json',
                    data: {
                        product_id: '{{ product.id }}'
                    },
                    success: function (response) {

                        if(response.review_count > 0) {

                            rateStyle(response.review_average, 'parent_{{ product.id }}');
                            $('#review_count_{{ product.id }}').empty().append('<p>(' + response.review_count + ' Reviews)</p>');
                        }
                    }
                });

            {% endfor %}

            {# Get Note #}
            $(document).on('click', '.note_update', function (e){

                e.preventDefault();

                let note_id = $(this).data("id")

                $.ajax({
                    url: "{{ path('inventory_get_note') }}",
                    type: 'POST',
                    cache: false,
                    timeout: 600000,
                    dataType: 'json',
                    data: {
                        id: note_id
                    },
                    success: function (response) {
                        $('#note_create_new_'+ response.product_id).empty().append('<i class="fa-solid fa-circle-plus"></i> &nbsp;UPDATE NOTE');
                        $('#note_id_'+ response.product_id).val(note_id);
                        $('#note_'+ response.product_id).empty().val(response.note);
                    }
                });
            });

            {# Delete Note #}
            $(document).on('click', '.delete-icon', function (e){

                e.preventDefault();

                let note_id = $(this).data("note-id");
                let product_id = $(this).data("product-id");

                $('#delete_note').attr('data-delete-note-id', note_id);
                $('#delete_note').attr('data-delete-product-id', product_id);

            });

            $(document).on('click', '#delete_note', function (e){

                e.preventDefault();

                let note_id = $(this).data("delete-note-id");
                let product_id = $(this).data("delete-product-id");

                $.ajax({
                    url: "{{ path('inventory_manage_note') }}",
                    type: 'POST',
                    cache: false,
                    timeout: 600000,
                    dataType: 'json',
                    data: {
                        delete_id: true,
                        note_id: note_id,
                        product_id: product_id
                    },
                    success: function (response) {
                        $('#notes_'+ product_id).empty().append(response);
                        $('#modal_note_delete').modal('toggle');
                        $('#modal_note_delete').modal('hide');
                        $('.modal-backdrop').removeClass('modal-backdrop');
                        $('.fade').removeClass('fade');

                        $.ajax({
                            url: "{{ path('clinic_get_product_notes') }}",
                            type: 'POST',
                            cache: false,
                            timeout: 600000,
                            dataType: 'json',
                            data: {
                                product_id: product_id
                            },
                            success: function (response) {

                                if(response){
                                    $('#product_notes_label_'+ product_id).empty().append('<i class="fa-solid fa-pen-to-square"></i> <b>Notes From '+ response.from +':</b> '+ response.note);
                                    $('#product_notes_label_'+ product_id).removeClass('hidden_msg');

                                } else {
                                    $('#product_notes_label_'+ product_id).addClass('hidden_msg');
                                }
                            }
                        });
                    }
                });
            });

            {# Add item to list #}
            $(document).on('click', ".list_add_item", function (e){

                e.preventDefault();

                let list_id = $(this).data("value");
                let product_id = $(this).data("id");
                let is_valid = true;

                if(list_id == '' || list_id == 'undefined' || product_id == '' || product_id == 'undefined'){

                    is_valid = false;
                }

                if(is_valid){

                    $.ajax({
                        url: "{{ path('inventory_manage_list') }}",
                        type: 'POST',
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: {
                            product_id: product_id,
                            list_id: list_id,

                        },
                        success: function (response) {
                            $('#lists_'+ product_id).empty().append(response);

                        }
                    });
                }
            });

            {# Delete list items #}
            $(document).on('click', ".list_remove_item", function (e){

                e.preventDefault();

                let list_id = $(this).data("value");
                let product_id = $(this).data("id");
                let is_valid = true;

                if(list_id == '' || list_id == 'undefined' || product_id == '' || product_id == 'undefined'){

                    is_valid = false;
                }

                if(is_valid){

                    $.ajax({
                        url: "{{ path('inventory_delete_list_item') }}",
                        type: 'POST',
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: {
                            product_id: product_id,
                            list_id: list_id,

                        },
                        success: function (response) {
                            $('#lists_'+ product_id).empty().append(response);

                        }
                    });
                }
            });

            $(document).on('click','#search_btn',function (e){

                e.preventDefault();

                let keyword = $('#search_field').val();

                $.ajax({
                    url: "{{ path('clinic_get_inventory') }}",
                    type: 'POST',
                    data: {
                        keyword: keyword
                    },
                    success: function (response) {
                        $('#inventory').empty().append(response[0].name);
                    }
                });
            });

            {# Reviews #}
            $(document).on('click', '.btn_create_review', function (){

                $('#review_product_id').val($(this).data("product-id"))
            });

            $(document).on('submit', '#form_review', function (e){

                e.preventDefault();

                let rating = $('#rating').val();
                let title = $('#review_title').val();
                let review = $('#review').val();
                let username = $('#review_username').val();
                let position = $('#review_position').val();
                let error_rating = $('#error_rating');
                let error_title = $('#error_review_title');
                let error_review = $('#error_review');
                let error_username = $('#error_review_username');
                let error_position = $('#error_review_position');
                let data = new FormData(this);
                let is_valid = true;

                error_rating.hide();
                error_title.hide();
                error_review.hide();
                error_username.hide();
                error_position.hide();

                if(rating == 0 || rating == 'undefined' || rating == ''){

                    error_rating.show();
                    is_valid = false;
                }

                if(title == '' || title == 'undefined'){

                    error_title.show();
                    is_valid = false;
                }

                if(review == '' || review == 'undefined'){

                    error_review.show();
                    is_valid = false;
                }

                if(username == '' || username == 'undefined'){

                    error_username.show();
                    is_valid = false;
                }

                if(position == '' || position == 'undefined'){

                    error_position.show();
                    is_valid = false;
                }

                if(is_valid) {

                    $.ajax({
                        url: "{{ path('create_review') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        success: function (response) {
                            $('#flash').addClass('alert-success');
                            $('#flash').removeClass('alert-danger');
                            $('#flash').addClass('alert');
                            $('#flash').addClass('text-center');
                            $('#flash').removeClass('users-flash');
                            $('#flash').addClass('users-flash');
                            $('#flash').empty();
                            $('#flash').append(response);
                            $('#flash').removeClass('hidden');
                            $('#modal_review').modal('toggle');
                            $('#modal_review').modal('hide');
                            $('.modal-backdrop').removeClass('modal-backdrop');
                            $('.fade').removeClass('fade');
                        }
                    });
                }
            });
        });

        {# Rating #}
        function rateStyle(num, divID) {
            var ratingRounded = Math.floor(num);
            var starArray = document.getElementById(divID).querySelectorAll(".star-over");

            for (var i = 0; i < ratingRounded; i++) {
                starArray[i].classList.add("star-visible");
            }
            var finalStar = Math.round((num-ratingRounded)*100);
            if (finalStar != 0) {
                starArray[ratingRounded].classList.add("star-visible");
                starArray[ratingRounded].style.width=finalStar+"%";
            }
        }

        {# Clode Flash Message #}
        $('#flash').click(function (){
            $('#flash').addClass('hidden');
        });

        var url = new URL('http://demourl.com/path?id=100');
        var search_params = url.searchParams;

        // add "topic" parameter
        search_params.set('topic', 'main');

        url.search = search_params.toString();

        var new_url = url.toString();

        // output : http://demourl.com/path?id=100&topic=main
        console.log(new_url);
    </script>
{% endblock %}