{% extends 'Admin/layout.html.twig' %}
{% block meta_decription %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <form name="manufacturers_form" id="manufacturers_form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="manufacturerId" id="manufacturer_id" value="{{ manufacturer.id ? manufacturer.id : 0 }}">
        <section class="content-header border-bottom ps-4 py-4 admin-header">
            <div class="content-header-title">
                <h4>
                    {% if manufacturer.id > 0 %}
                        Editing <b>{{ manufacturer.name }}</b>
                    {% else %}
                        New Manufacturer
                    {% endif %}
                </h4>
            </div>

            <div class="page-actions pe-4">
                <button
                    class="action-saveAndContinue btn btn-secondary action-save"
                    type="submit"
                    name="save_continue"
                >
                <span class="btn-label">
                    <i class="action-icon far fa-edit"></i>
                    Save and continue editing
                </span>
                </button>

                <button
                    class="action-saveAndReturn btn btn-primary action-save"
                    type="submit"
                    name="save_return"
                >
                    <span class="btn-label">Save changes</span>
                </button>
            </div>
        </section>

        <section class="ps-4" style="margin-top: 105px">
            <div class="row mt-4">
                {# Manufacturer Name #}
                <div class="col-12">
                    <label class="ms-2 text-primary">
                        Manufacturer <span class="text-danger">*</span>
                    </label>
                    <input
                        name="manufacturer_name"
                        id="manufacturer_name"
                        class="form-control"
                        type="text"
                        value="{{ manufacturer.name }}"
                        placeholder="Manufacturer Name"
                    >
                    <div class="hidden_msg" id="error_manufacturer_name">
                        Required Field
                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function (){

            {# Save Products #}
            $(document).on('submit', '#manufacturers_form', function (e){

                e.preventDefault();

                let manufacturer = $('#manufacturer_name').val();
                let is_valid = true;
                let btn = document.activeElement.getAttribute('name');
                let error_manufacturer = $('#error_manufacturer_name');

                error_manufacturer.hide();

                if(manufacturer == '' || manufacturer == 'undefined'){

                    error_manufacturer.show();
                    is_valid = false;
                }

                if(is_valid) {

                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('manufacturer_crud') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        success: function (response) {

                            getFlash(response);

                            if(btn == 'save_return'){

                                window.location.assign('{{ path('manufacturers_list',{ 'page_id':1 }) }}');
                            }
                        }
                    });
                }
            });
            {# End Save Products #}

            {# User Accounts #}
            $(document).on('click', '.user-edit-icon', function (e){

                e.preventDefault();

                let user_id = $(this).data('user-id');

                $('#user_row_'+ user_id).toggle(700);

                $('.clinic-users').each(function (){

                    if($(this).data('user-id') != user_id){

                        $(this).hide(700);
                    }
                });

            });
            {# End User Accounts #}
        });

    </script>
{% endblock %}