{% extends 'Admin/layout.html.twig' %}
{% block meta_decription %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <form name="products_form" id="products_form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="product_id" id="product_id" value="{{ product_id ? product.id : 0 }}">
        <section class="content-header border-bottom ps-4 py-4 admin-header">
            <div class="content-header-title">
                <h4>
                    {% if product_id > 0 %}
                        Editing <b>{{ product.name }}</b>
                    {% else %}
                        New Product
                    {% endif %}
                </h4>
            </div>

            <div class="page-actions pe-4">
                <button
                    class="action-saveAndContinue btn btn-secondary action-save"
                    type="submit"
                    name="save_continue"
                >
                <span class="btn-label">
                    <i class="action-icon far fa-edit"></i>
                    Save and continue editing
                </span>
                </button>

                <button
                    class="action-saveAndReturn btn btn-primary action-save"
                    type="submit"
                    name="save_return"
                >
                    <span class="btn-label">Save changes</span>
                </button>
            </div>
        </section>

        <section class="ps-4" style="margin-top: 105px">
            <div class="row mt-4">

                {# Is Published #}
                <div class="col-12 col-md-6">
                    <div class="form-check form-switch">
                        {% set is_published = '' %}
                        {% if product.isPublished == 1 %}
                            {% set is_published = 'checked' %}
                        {% endif %}
                        <input
                            name="is_published"
                            id="is_published"
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            value="1"
                            {{ is_published }}
                        >
                        <label class="ms-2 text-primary" for="is_published">
                            Published
                        </label>
                    </div>
                </div>

                {# Expiry Date #}
                <div class="col-12 col-md-6">
                    <div class="form-check form-switch">
                        {% set expiry_date = '' %}
                        {% if product.expiryDateRequired == 1 %}
                            {% set expiry_date = 'checked' %}
                        {% endif %}
                        <input
                            name="expiry_date"
                            id="expiry_date"
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            value="1"
                            {{ expiry_date }}
                        >
                        <label class="ms-2 text-primary" for="expiry_date">
                            Expiry Date
                        </label>
                    </div>
                </div>
            </div>

            <div class="row mt-4">

                {# Manufacturers #}
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Manufacturer <span class="text-danger">*</span> </label>
                    <div class="position-relative">
                        <div class="form-control cursor-text text-placeholder" id="manufacturer">
                            {% if productManufacturers|length > 0 %}
                                {% for manufacturer in productManufacturers %}
                                    <span class="badge bg-disabled me-3 my-1" id="manufacturer_badge_{{ manufacturer.manufacturers.id }}">
                                        <span id="manufacturer_badge_string_{{ manufacturer.manufacturers.id }}">
                                            {{ manufacturer.manufacturers.name }}
                                        </span>
                                    </span>
                                {% endfor %}
                            {% else %}
                                Select a Manufacturer
                            {% endif %}
                        </div>
                        <div id="manufacturers_list" class="row" style="display: none">
                            {% if productManufacturers|length > 0 %}
                                {% for manufacturer in productManufacturers %}
                                    <input
                                        type="hidden"
                                        name="manufacturers[]"
                                        class="manufacturer_hidden"
                                        data-name="{{ manufacturer.manufacturers.name }}"
                                        id="manufacturer_hidden_field_{{ manufacturer.manufacturers.id }}"
                                        value="{{ manufacturer.manufacturers.id }}"
                                    >
                                {% endfor %}
                            {% endif %}
                            <div id="manufacturer_list_container">
                                {{ manufacturersList|raw }}
                            </div>
                        </div>
                        <div class="hidden_msg"id="error_manufacturer">
                            Required Field
                        </div>
                    </div>
                </div>

                {# Name #}
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Name <span class="text-danger">*</span> </label>
                    <input
                        type="text"
                        class="form-control"
                        name="name"
                        id="name"
                        value="{{ product.name }}"
                        placeholder="Name"
                    >
                    <div class="hidden_msg" id="error_name">
                        Required Field
                    </div>
                </div>
            </div>

            <div class="row mt-4">

                {# Species #}
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Species <span class="text-danger">*</span> </label>
                    <div class="position-relative">
                        <div class="form-control cursor-text text-placeholder" id="species">
                            {% if productSpecies|length > 0 %}
                                {% for species in productSpecies %}
                                    <span class="badge bg-disabled me-3 my-1" id="species_badge_{{ species.species.id }}">
                                        <span id="manufacturer_badge_string_{{ species.species.id }}">
                                            {{ species.species.name }}
                                        </span>
                                    </span>
                                {% endfor %}
                            {% else %}
                                Select a Species
                            {% endif %}
                        </div>
                        <div id="species_list" class="row" style="display: none">
                            {% if productSpecies|length > 0 %}
                                {% for species in productSpecies %}
                                    <input
                                        type="hidden"
                                        name="species[]"
                                        class="species_hidden"
                                        data-name="{{ species.species.name }}"
                                        id="species_hidden_field_{{ species.species.id }}"
                                        value="{{ species.species.id }}"
                                    >
                                {% endfor %}
                            {% endif %}
                            <div id="species_list_container">
                                {{ speciesList|raw }}
                            </div>
                        </div>
                        <div class="hidden_msg"id="error_species">
                            Required Field
                        </div>
                    </div>
                </div>

                {# Category #}
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Category <span class="text-danger">*</span> </label>
                    <select
                        class="form-control"
                        name="category"
                        id="category"
                        value="{{ product.category }}"
                    >
                        <option value="">Select a Category...</option>
                        {% for category in categories %}
                            {% set selected = '' %}
                            {% if product.category != null %}
                                {% if product.category.id == category.id %}
                                    {% set selected = 'selected' %}
                                {% endif %}
                            {% endif %}
                            <option value="{{ category.id }}" {{ selected }}>{{ category.category }}</option>
                        {% endfor %}
                    </select>
                    <div class="hidden_msg" id="error_category">
                        Required Field
                    </div>
                </div>
            </div>

            <div class="row mt-4">

                {# Sub Category #}
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Sub Category <span class="text-danger">*</span> </label>
                    <select
                        class="form-control"
                        name="subCategory"
                        id="subCategory"
                    >
                        <option value="">Select a Sub Category...</option>
                        {% for subCategory in subCategories %}
                            {% set selected = '' %}
                            {% if product.subCategory != null %}
                                {% if product.subCategory.id == subCategory.id %}
                                    {% set selected = 'selected' %}
                                {% endif %}
                            {% endif %}
                            <option value="{{ subCategory.id }}" {{ selected }}>{{ subCategory.subCategory }}</option>
                        {% endfor %}
                    </select>
                    <div class="hidden_msg"id="error_subCategory">
                        Required Field
                    </div>
                </div>

                {# Serial No #}
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Serial No <span class="text-danger">*</span> </label>
                    <input
                        type="text"
                        class="form-control"
                        name="serial_no"
                        id="serial_no"
                        value="{{ product.sku }}"
                        placeholder="Serial Number"
                    >
                    <div class="hidden_msg" id="error_serial_no">
                        Required Field
                    </div>
                </div>
            </div>

            <div class="row mt-4">

                {# Active Ingredient #}
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Active Ingredient <span class="text-danger">*</span> </label>
                    <input
                        type="text"
                        class="form-control"
                        name="active_ingredient"
                        id="active_ingredient"
                        value="{{ product.activeIngredient }}"
                        placeholder="Active Ingredient"
                    >
                    <div class="hidden_msg"id="error_active_ingredient">
                        Required Field
                    </div>
                </div>

                {# Dosage #}
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Dosage <span class="text-danger">*</span> </label>
                    <input
                        type="text"
                        class="form-control"
                        name="dosage"
                        id="dosage"
                        value="{{ product.dosage }}"
                        placeholder="Dosage"
                    >
                    <div class="hidden_msg" id="error_dosage">
                        Required Field
                    </div>
                </div>
            </div>

            <div class="row mt-4">

                {# Size #}
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Size <span class="text-danger">*</span> </label>
                    <input
                        type="text"
                        class="form-control"
                        name="size"
                        id="size"
                        value="{{ product.size }}"
                        placeholder="Active Ingredient"
                    >
                    <div class="hidden_msg"id="error_size">
                        Required Field
                    </div>
                </div>

                {# Unit #}
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Unit <span class="text-danger">*</span> </label>
                    <input
                        type="text"
                        class="form-control"
                        name="unit"
                        id="unit"
                        value="{{ product.unit }}"
                        placeholder="Serial Number"
                    >
                    <div class="hidden_msg" id="error_unit">
                        Required Field
                    </div>
                </div>
            </div>

            <div class="row mt-4">

                {# Price #}
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Price <span class="text-danger">*</span> </label>
                    <input
                        type="text"
                        class="form-control"
                        name="price"
                        id="price"
                        value="{{ product.unitPrice|format_number({fraction_digit: 2}) }}"
                        placeholder="Active Ingredient"
                    >
                    <div class="hidden_msg"id="error_price">
                        Required Field
                    </div>
                </div>

                {# Stock #}
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Stock <span class="text-danger">*</span> </label>
                    <input
                        type="text"
                        class="form-control"
                        name="stock"
                        id="stock"
                        value="{{ product.stockCount }}"
                        placeholder="Serial Number"
                    >
                    <div class="hidden_msg" id="error_stock">
                        Required Field
                    </div>
                </div>
            </div>

            <div class="row mt-4">

                {# Package Type #}
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Package Type <span class="text-danger">*</span> </label>
                    <select
                        class="form-control"
                        name="package_type"
                        id="package_type"
                    >
                        <option value="">Select a Package Type</option>
                        {% set selected = '' %}
                        {% if product.packType == 'Bottle' %}
                            {% set selected = 'selected' %}
                        {% endif %}
                        <option value="Bottle" {{ selected }}>Bottle</option>
                        {% set selected = '' %}
                        {% if product.packType == 'Gel' %}
                            {% set selected = 'selected' %}
                        {% endif %}
                        <option value="Gel" {{ selected }}>Gel</option>
                    </select>
                    <div class="hidden_msg"id="error_package_type">
                        Required Field
                    </div>
                </div>

                {# Form #}
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Form <span class="text-danger">*</span> </label>
                    <input
                        type="text"
                        class="form-control"
                        name="form"
                        id="form"
                        value="{{ product.form }}"
                        placeholder="Serial Number"
                    >
                    <div class="hidden_msg" id="error_form">
                        Required Field
                    </div>
                </div>
            </div>

            <div class="row mt-4">

                {# Image #}
                <div class="col-12 col-md-6">
                    <label class="text-primary mb-2">Image</label>
                    <input
                        type="file"
                        class="form-control"
                        name="image"
                        id="image"
                    >
                </div>

                <div class="col-12 col-md-6">

                </div>
            </div>

            {# Details #}
            <div class="row mt-4">

                {# Image #}
                <div class="col-12">
                    <label class="text-primary mb-2">Description</label>
                    <textarea
                            class="form-control"
                            name="details"
                            id="details"
                    >{{ product.description }}</textarea>
                    <div class="hidden_msg" id="error_details">
                        Required Field
                    </div>
                </div>
            </div>

        </section>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function (){

            {# Save Products #}
            $(document).on('submit', '#products_form', function (e){

                e.preventDefault();

                let manufacturer = $('.manufacturer_hidden').length;
                let name = $('#name').val();
                let species = $('.species_hidden').length;
                let category = $('#category').val();
                let subCategory = $('#subCategory').val();
                let serial_no = $('#serial_no').val();
                let active_ingredient = $('#active_ingredient').val();
                let dosage = $('#dosage').val();
                let size = $('#size').val();
                let unit = $('#unit').val();
                let price = $('#price').val();
                let stock = $('#stock').val();
                let package_type = $('#package_type').val();
                let form = $('#form').val();
                let details = $('#details').val();
                let is_valid = true;
                let btn = document.activeElement.getAttribute('name');

                let error_manufacturer = $('#error_manufacturer');
                let error_name = $('#error_name');
                let error_species = $('#error_species');
                let error_category = $('#error_category');
                let error_subCategory = $('#error_subCategory');
                let error_serial_no = $('#error_serial_no');
                let error_active_ingredient = $('#error_active_ingredient');
                let error_dosage = $('#error_dosage');
                let error_size = $('#error_size');
                let error_unit = $('#error_unit');
                let error_price = $('#error_price');
                let error_stock = $('#error_stock');
                let error_package_type = $('#error_package_type');
                let error_form = $('#error_form');
                let error_details = $('#error_details');

                error_manufacturer.hide();
                error_name.hide();
                error_species.hide();
                error_category.hide();
                error_subCategory.hide();
                error_serial_no.hide();
                error_active_ingredient.hide();
                error_dosage.hide();
                error_size.hide();
                error_unit.hide();
                error_price.hide();
                error_stock.hide();
                error_package_type.hide();
                error_form.hide();
                error_details.hide();

                if(manufacturer == 0){

                    error_manufacturer.show();
                    is_valid = false;
                }

                if(name == '' || name == 'undefined'){

                    error_name.show();
                    is_valid = false;
                }

                if(species == 0){

                    error_species.show();
                    is_valid = false;
                }

                if(category == '' || category == 'undefined'){

                    error_category.show();
                    is_valid = false;
                }

                if(subCategory == '' || subCategory == 'undefined'){

                    error_subCategory.show();
                    is_valid = false;
                }

                if(serial_no == '' || serial_no == 'undefined'){

                    error_serial_no.show();
                    is_valid = false;
                }

                if(active_ingredient == '' || active_ingredient == 'undefined'){

                    error_active_ingredient.show();
                    is_valid = false;
                }

                if(dosage == '' || dosage == 'undefined'){

                    error_dosage.show();
                    is_valid = false;
                }

                if(size == '' || size == 'undefined'){

                    error_size.show();
                    is_valid = false;
                }

                if(unit == '' || unit == 'undefined'){

                    error_unit.show();
                    is_valid = false;
                }

                if(price == '' || price == 'undefined'){

                    error_price.show();
                    is_valid = false;
                }

                if(stock == '' || stock == 'undefined'){

                    error_stock.show();
                    is_valid = false;
                }

                if(package_type == '' || package_type == 'undefined'){

                    error_package_type.show();
                    is_valid = false;
                }

                if(form == '' || form == 'undefined'){

                    error_form.show();
                    is_valid = false;
                }

                if(details == '' || details == 'undefined'){

                    error_details.show();
                    is_valid = false;
                }

                if(is_valid) {

                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('product_crud') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        success: function (response) {

                            getFlash(response.flash);
                            $('.content-header-title').empty().append('<h4>Editing '+ response.product +'</h4>');

                            if(btn == 'save_return'){

                                window.location.assign('{{ path('products_list',{ 'page_id':1 }) }}');
                            }
                        }
                    });
                }
            });
            {# End Save Products #}

            {# Manufacturers Dropdown #}
            let selected = [];
            let array = [{{ arr }}];
            for(let i = 0; i < array[0].length; i++){

                selected.push(parseInt(array[0][i]));
            };

            $(document).on('click', '#manufacturer', function (){

                $('#manufacturers_list').show(700);
            });
            $(document).mouseup(function(e){

                let container = $('#manufacturers_list');

                // if the target of the click isn't the container nor a descendant of the container
                if (!container.is(e.target) && container.has(e.target).length === 0)
                {
                    container.hide(700);
                }
            });
            $(document).on('click', '.manufacturer-edit-icon', function (e){

                e.preventDefault();

                let manufacturer_id = $(this).data('manufacturer-edit-id');
                $.session.set('manufacturer', $('#manufacturer_edit_field_'+ manufacturer_id).val());

                $('#manufacturer_edit_field_'+ manufacturer_id).show();
                $('#manufacturer_string_'+ manufacturer_id).hide();
                $('#manufacturer_edit_'+ manufacturer_id).hide();
                $('#manufacturer_save_'+ manufacturer_id).show();
                $('#manufacturer_cancel_'+ manufacturer_id).show();
                $('#manufacturer_remove_' + manufacturer_id).hide();
            });
            $(document).on('click', '.manufacturer-cancel-icon', function (e){

                e.preventDefault();

                let cancel_id = $(this).data('manufacturer-cancel-id');

                $('#manufacturer_edit_field_'+ cancel_id).hide();
                $('#manufacturer_string_'+ cancel_id).show();
                $('#manufacturer_edit_field_'+ cancel_id).val($.session.get('manufacturer'));
                $('#manufacturer_edit_'+ cancel_id).show();
                $('#manufacturer_save_'+ cancel_id).hide();
                $('#manufacturer_cancel_'+ cancel_id).hide();
                $('#error_manufacturer_'+ cancel_id).hide();
            });
            $(document).on('click',' .manufacturer-save-icon', function (e){

                e.preventDefault();

                let manufacturer_id = $(this).data('manufacturer-id');
                let manufacturer = $('#manufacturer_edit_field_'+ manufacturer_id).val();
                let manufacturer_error = $('#error_manufacturer_'+ manufacturer_id);
                let is_valid = true;

                manufacturer_error.hide();

                if(manufacturer == '' || manufacturer == 'undefined'){

                    manufacturer_error.show();
                    is_valid = false;
                }

                if(is_valid){

                    $.ajax({
                        url: "{{ path('products_manufacturer_save') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            manufacturer_id:manufacturer_id,
                            manufacturer:manufacturer
                        },
                        success: function (response) {

                            $('#manufacturer_edit_field_'+ manufacturer_id).hide();
                            $('#manufacturer_string_'+ manufacturer_id).empty().append(manufacturer).show();
                            $('#manufacturer_edit_field_'+ manufacturer_id).val(manufacturer);
                            $('#manufacturer_edit_'+ manufacturer_id).show();
                            $('#manufacturer_save_'+ manufacturer_id).hide();
                            $('#manufacturer_cancel_'+ manufacturer_id).hide();
                            $('#error_manufacturer_'+ manufacturer_id).hide();
                            $('#manufacturer_row_id_'+ manufacturer_id).attr('data-manufacturer', manufacturer);
                            $('#manufacturer_badge_string_'+ manufacturer_id).empty().append(manufacturer);
                        }
                    });
                }
            });
            $(document).on('mouseover', '.edit-manufacturer', function (){

                let manufacturer_id = $(this).data('manufacturer-id');

                if($('#manufacturer_save_'+ manufacturer_id).is(':hidden')) {

                    $('#manufacturer_edit_' + manufacturer_id).show();

                    if(selected.includes(manufacturer_id)) {

                        $('#manufacturer_remove_' + manufacturer_id).show();

                    } else {

                        $('#manufacturer_remove_' + manufacturer_id).hide();
                    }
                }
            });
            $(document).on('mouseout', '.edit-manufacturer', function (){

                let manufacturer_id = $(this).data('manufacturer-id');

                if($('#manufacturer_save_'+ manufacturer_id).is(':hidden')) {

                    $('#manufacturer_edit_' + manufacturer_id).hide();
                    $('#manufacturer_remove_' + manufacturer_id).hide();
                };
            });
            $(document).on('click', '.manufacturer-select', function (){

                let manufacturer_id = $(this).data('manufacturer-id');
                let manufacturer = $(this).attr('data-manufacturer');

                if($('#manufacturer_edit_field_'+ manufacturer_id).is(':hidden')) {

                    let hidden_field = '<input type="hidden" name="manufacturers[]" class="manufacturer_hidden" data-name="'+ manufacturer +'"';
                    hidden_field += 'id="manufacturer_hidden_field_' + manufacturer_id + '" value="' + manufacturer_id + '" >';

                    $('#manufacturers_list').prepend(hidden_field);
                    $(this).removeClass('manufacturer-select');
                    $('#manufacturer_remove_' + manufacturer_id).show();

                    let badge = getBadges('input[name="manufacturers[]"]', 'manufacturer');

                    $('#manufacturer').empty().append(badge);

                    // Create array of selected ids
                    selected = [];

                    if($('.manufacturer_hidden').length > 0){

                        $('.manufacturer_hidden').each(function (){

                            selected.push(parseInt($(this).val()));
                        });
                    }
                }
            });
            $(document).on('click', '.manufacturer-remove-icon', function (e){

                e.preventDefault();

                let manufacturer_id = $(this).data('manufacturer-id');

                $('#manufacturer_badge_'+ manufacturer_id).remove();
                $('#manufacturer_row_id_'+ manufacturer_id).addClass('manufacturer-select');
                $('#manufacturer_hidden_field_'+ manufacturer_id).remove();
                $('#manufacturer_remove_' + manufacturer_id).hide();

                // Remove from selected array
                let index = selected.indexOf(manufacturer_id);
                if (index >= 0) {
                    selected.splice( index, 1 );
                }

                if($('.manufacturer_hidden').length == 0){

                    $('#manufacturer').append('Select a Manufacturer');
                };
            });
            $(document).on('mouseover', '#manufacturer_add', function (){


            });
            $(document).on('click', '#manufacturer_create_string', function (e){

                e.preventDefault();

                $('#manufacturer_create_string').hide();
                $('#manufacturer_create_field').show();
                $('.manufacturer-create-cancel-icon').show();
                $('.manufacturer-create-save-icon').show();
            });
            $(document).on('click', '.manufacturer-create-cancel-icon', function (e){

                e.preventDefault();

                $('#manufacturer_create_string').show();
                $('#manufacturer_create_field').hide();
                $('.manufacturer-create-cancel-icon').hide();
                $('.manufacturer-create-save-icon').hide();
            });
            $(document).on('click', '.manufacturer-create-save-icon', function (e){

                e.preventDefault();

                let manufacturer = $('#manufacturer_create_field').val();
                let error_manufacturer = $('#error_manufacturer_create');
                let is_valid = true;

                error_manufacturer.hide();

                if(manufacturer == '' || manufacturer == 'udefined'){

                    error_manufacturer.show()
                    is_valid = false;
                }

                if(is_valid){

                    $.ajax({
                        url: "{{ path('products_manufacturer_save') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            manufacturer_id:0,
                            manufacturer:manufacturer
                        },
                        success: function (response) {

                            $('#manufacturer_list_container').empty().append(response);
                            $('#manufacturer_create_string').show();
                            $('#manufacturer_create_field').hide();
                            $('.manufacturer-create-cancel-icon').hide();
                            $('.manufacturer-create-save-icon').hide();
                        }
                    });
                }
            });
            {# End Manufacturers Dropdown #}
        });

        {# Species Dropdown #}
        let selected = [];
        let array = [{{ arr_species }}];
        for(let i = 0; i < array[0].length; i++){

            selected.push(parseInt(array[0][i]));
        };
        $(document).on('click', '#species', function (){

            $('#species_list').show(700);
        });
        $(document).mouseup(function(e){

            let container = $('#species_list');

            // if the target of the click isn't the container nor a descendant of the container
            if (!container.is(e.target) && container.has(e.target).length === 0)
            {
                container.hide(700);
            }
        });
        $(document).on('click', '.species-edit-icon', function (e){

            e.preventDefault();

            let species_id = $(this).data('species-edit-id');
            $.session.set('species', $('#species_edit_field_'+ species_id).val());

            $('#species_edit_field_'+ species_id).show();
            $('#species_string_'+ species_id).hide();
            $('#species_edit_'+ species_id).hide();
            $('#species_save_'+ species_id).show();
            $('#species_cancel_'+ species_id).show();
            $('#species_remove_' + species_id).hide();
        });
        $(document).on('click', '.species-cancel-icon', function (e){

            e.preventDefault();

            let cancel_id = $(this).data('species-cancel-id');

            $('#species_edit_field_'+ cancel_id).hide();
            $('#species_string_'+ cancel_id).show();
            $('#species_edit_field_'+ cancel_id).val($.session.get('species'));
            $('#species_edit_'+ cancel_id).show();
            $('#species_save_'+ cancel_id).hide();
            $('#species_cancel_'+ cancel_id).hide();
            $('#error_species_'+ cancel_id).hide();
        });
        $(document).on('click',' .species-save-icon', function (e){

            e.preventDefault();

            let species_id = $(this).data('species-id');
            let species = $('#species_edit_field_'+ species_id).val();
            let species_error = $('#error_species_'+ species_id);
            let is_valid = true;

            species_error.hide();

            if(species == '' || species == 'undefined'){

                species_error.show();
                is_valid = false;
            }

            if(is_valid){

                $.ajax({
                    url: "{{ path('products_species_save') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        species_id:species_id,
                        species:species
                    },
                    success: function (response) {

                        $('#species_edit_field_'+ species_id).hide();
                        $('#species_string_'+ species_id).empty().append(species).show();
                        $('#species_edit_field_'+ species_id).val(species);
                        $('#species_edit_'+ species_id).show();
                        $('#species_save_'+ species_id).hide();
                        $('#species_cancel_'+ species_id).hide();
                        $('#error_species_'+ species_id).hide();
                        $('#species_row_id_'+ species_id).attr('data-species', species);
                        $('#species_badge_string_'+ species_id).empty().append(species);
                    }
                });
            }
        });
        $(document).on('mouseover', '.edit-species', function (){

            let species_id = $(this).data('species-id');

            if($('#species_save_'+ species_id).is(':hidden')) {

                $('#species_edit_' + species_id).show();

                if(selected.includes(species_id)) {

                    $('#species_remove_' + species_id).show();

                } else {

                    $('#species_remove_' + species_id).hide();
                }
            }
        });
        $(document).on('mouseout', '.edit-species', function (){

            let species_id = $(this).data('species-id');

            if($('#species_save_'+ species_id).is(':hidden')) {

                $('#species_edit_' + species_id).hide();
                $('#species_remove_' + species_id).hide();
            };
        });
        $(document).on('click', '.species-select', function (){

            let species_id = $(this).data('species-id');
            let species = $(this).attr('data-species');

            if($('#species_edit_field_'+ species_id).is(':hidden')) {

                let hidden_field = '<input type="hidden" name="species[]" class="species_hidden" data-name="'+ species +'"';
                hidden_field += 'id="species_hidden_field_' + species_id + '" value="' + species_id + '" >';

                $('#species_list').prepend(hidden_field);
                $(this).removeClass('species-select');
                $('#species_remove_' + species_id).show();

                let badge = getBadges('input[name="species[]"]', 'species');

                $('#species').empty().append(badge);

                // Create array of selected ids
                selected = [];

                if($('.species_hidden').length > 0){

                    $('.species_hidden').each(function (){

                        selected.push(parseInt($(this).val()));
                    });
                }
            }
        });
        $(document).on('click', '.species-remove-icon', function (e){

            e.preventDefault();

            let species_id = $(this).data('species-id');

            $('#species_badge_'+ species_id).remove();
            $('#species_row_id_'+ species_id).addClass('species-select');
            $('#species_hidden_field_'+ species_id).remove();
            $('#species_remove_' + species_id).hide();

            // Remove from selected array
            let index = selected.indexOf(species_id);
            if (index >= 0) {
                selected.splice( index, 1 );
            }

            if($('.species_hidden').length == 0){

                $('#species').append('Select a species');
            };
        });
        $(document).on('mouseover', '#species_add', function (){


        });
        $(document).on('click', '#species_create_string', function (e){

            e.preventDefault();

            $('#species_create_string').hide();
            $('#species_create_field').show();
            $('.species-create-cancel-icon').show();
            $('.species-create-save-icon').show();
        });
        $(document).on('click', '.species-create-cancel-icon', function (e){

            e.preventDefault();

            $('#species_create_string').show();
            $('#species_create_field').hide();
            $('.species-create-cancel-icon').hide();
            $('.species-create-save-icon').hide();
            $('#error_species_create').hide();
        });
        $(document).on('click', '.species-create-save-icon', function (e){

            e.preventDefault();

            let species = $('#species_create_field').val();
            let error_species = $('#error_species_create');
            let is_valid = true;

            error_species.hide();

            if(species == '' || species == 'udefined'){

                error_species.show()
                is_valid = false;
            }

            if(is_valid){

                $.ajax({
                    url: "{{ path('products_species_save') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        species_id:0,
                        species:species
                    },
                    success: function (response) {

                        $('#species_list_container').empty().append(response);
                        $('#species_create_string').show();
                        $('#species_create_field').hide();
                        $('.species-create-cancel-icon').hide();
                        $('.species-create-save-icon').hide();
                    }
                });
            }
        });
        {# End Species Dropdown #}

        function getBadges(element, label){

            let arr = [];

            $(element).each(function() {

                let val = $(this).val();
                let name = $(this).data('name');

                arr.push({'id':val, 'name': name});
            });

            let badge = '';

            for(let i = 0; i < arr.length; i++){

                badge += '<span class="badge bg-disabled me-3 my-1" id="'+ label +'_badge_'+ arr[i].id +'">';
                badge += '<span  id="'+ label +'_badge_string_'+ arr[i].id +'">' + arr[i].name + '</span>';
                badge += '</span>';
            }

            return badge;
        }

        tinymce.init({
            selector: '#details',
            plugins: 'preview importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount help charmap quickbars emoticons',
            editimage_cors_hosts: ['picsum.photos'],
            menubar: 'file edit view insert format tools table help',
            toolbar: 'undo redo | bold italic underline strikethrough | fontfamily fontsize blocks | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview | insertfile image link anchor codesample',
            toolbar_sticky: true,
            statusbar: true,
            image_advtab: true,
            link_list: [
                { title: 'My page 1', value: 'https://www.tiny.cloud' },
                { title: 'My page 2', value: 'http://www.moxiecode.com' }
            ],
            image_list: [
                { title: 'My page 1', value: 'https://www.tiny.cloud' },
                { title: 'My page 2', value: 'http://www.moxiecode.com' }
            ],
            image_class_list: [
                { title: 'None', value: '' },
                { title: 'Some class', value: 'class-name' }
            ],
            importcss_append: true,
            templates: [
                { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
                { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
                { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
            ],
            template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
            template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
            height: 600,
            image_caption: true,
            quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
            noneditable_class: 'mceNonEditable',
            toolbar_mode: 'sliding',
            contextmenu: 'link image table',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
        });
    </script>
{% endblock %}