{% extends 'Admin/layout.html.twig' %}
{% block meta_decription %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <form name="species_form" id="species_form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="speciesId" id="species_id" value="{{ species.id ? species.id : 0 }}">
        <section class="content-header border-bottom ps-4 py-4 admin-header">
            <div class="content-header-title">
                <h4>
                    {% if species.id > 0 %}
                        Editing <b>{{ species.name }}</b>
                    {% else %}
                        New Species
                    {% endif %}
                </h4>
            </div>

            <div class="page-actions pe-4">
                <button
                    class="action-saveAndContinue btn btn-secondary action-save"
                    type="submit"
                    name="save_continue"
                >
                <span class="btn-label">
                    <i class="action-icon far fa-edit"></i>
                    Save and continue editing
                </span>
                </button>

                <button
                    class="action-saveAndReturn btn btn-primary action-save"
                    type="submit"
                    name="save_return"
                >
                    <span class="btn-label">Save changes</span>
                </button>
            </div>
        </section>

        <section class="ps-4" style="margin-top: 105px">
            <div class="row mt-4">
                {# Species #}
                <div class="col-12">
                    <label class="ms-2 text-primary">
                        Species <span class="text-danger">*</span>
                    </label>
                    <input
                        name="species_name"
                        id="species_name"
                        class="form-control"
                        type="text"
                        value="{{ species.name }}"
                        placeholder="Species"
                    >
                    <div class="hidden_msg" id="error_species_name">
                        Required Field
                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function (){

            {# Save Species #}
            $(document).on('submit', '#species_form', function (e){

                e.preventDefault();

                let species = $('#species_name').val();
                let is_valid = true;
                let btn = document.activeElement.getAttribute('name');
                let error_species = $('#error_species_name');

                error_species.hide();

                if(species == '' || species == 'undefined'){

                    error_species.show();
                    is_valid = false;
                }

                if(is_valid) {

                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('species_crud') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        success: function (response) {

                            getFlash(response.flash);
                            $('.content-header-title').empty().append('<h4>Editing '+ response.species +'</h4>');

                            if(btn == 'save_return'){

                                window.location.assign('{{ path('species_list',{ 'page_id':1 }) }}');
                            }
                        }
                    });
                }
            });
            {# End Save Species #}
        });

    </script>
{% endblock %}