<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="#545659"/>

        <title>
            {%- block meta_title -%}
                Fluid
            {%- endblock %}
        </title>

        {% block meta_decription %}
            <meta name="description" content="Fluid Commerce">
        {% endblock %}

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="icon" href="{{ asset('images/logo.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/icons/icon-144x144.png') }}" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/icons/icon-152x152.png') }}" />
        <link rel="manifest" href="{{ asset('manifest.json') }}" />

        <script type="module">
            import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
            const el = document.createElement('pwa-update');
            document.body.appendChild(el);
        </script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/fontawesome/css/all.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/intlTelInput.min.css') }}">
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

            <script type="text/javascript">
                document.addEventListener("DOMContentLoaded", function(){
                    /////// Prevent closing from click inside dropdown
                    document.querySelectorAll('.dropdown-menu').forEach(function(element){
                        element.addEventListener('click', function (e) {
                            e.stopPropagation();
                        });
                    })
                });
                // DOMContentLoaded  end

                {# Rating #}
                function rateStyle(num, divID) {
                    var ratingRounded = Math.floor(num);
                    var starArray = document.getElementById(divID).querySelectorAll(".star-over");

                    for (var i = 0; i < ratingRounded; i++) {
                        starArray[i].classList.add("star-visible");
                    }
                    var finalStar = Math.round((num-ratingRounded)*100);
                    if (finalStar != 0) {
                        starArray[ratingRounded].classList.add("star-visible");
                        starArray[ratingRounded].style.width=finalStar+"%";
                    }
                }
            </script>
        {% endblock %}
    </head>
    <body class="bady-mt">
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.0/dist/index.umd.min.js"></script>

            <!-- jQuery -->
            <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('js/jquery.session.min.js') }}"></script>
            <script src="{{ asset('js/intlTelInput.min.js') }}"></script>

            <script>

                $(document).ready(function() {

                    $(document).on('click', '#btn_map, #btn_map_checkout_shipping, #btn_map_checkout_billing', function (){

                        let gmapController = (function () {
                            return initialize();
                        })();
                    });

                    $('.mapArea').removeAttr('style').css(
                        {
                            overflow: 'hidden',
                            position: 'absolute',
                            left: 0,
                            right:0,
                            top: 0,
                            bottom: 0
                        }
                    );
                });

                function initialize() {

                    let map = null;
                    let address = 'My Address';

                    function displayPosition(pos) {
                        let coords = pos.coords;
                        $("#lat").text(coords.latitude);
                        $("#long").text(coords.longitude);
                        $("#accuracy").text(coords.accuracy);
                        addMap(coords);

                        // Add marker for location
                        addMarker(coords);
                    }

                    function addMap(location) {
                        // Create a lat/lng object
                        let pos = new google.maps.LatLng(location.latitude, location.longitude);

                        // Create map options
                        let mapOptions = {
                            center: pos,
                            zoom: 17,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };

                        // Create new google map
                        map = new google.maps.Map(document.getElementById("map"), mapOptions);
                    }

                    function addMarker(coords) {

                        let lat = coords.latitude;
                        let lng = coords.longitude;
                        let geocoder = new google.maps.Geocoder();
                        let latLng = {lat, lng};
                        let infowindow = '';
                        geocoder.geocode({
                            latLng: latLng
                        }, function(responses) {
                            infowindow = new google.maps.InfoWindow({
                                content: responses[0].formatted_address,
                            });
                        });

                        // Create a new marker
                        coords.marker = new google.maps.Marker( {
                            position: new google.maps.LatLng(coords.latitude, coords.longitude),
                            draggable: true,
                            map: map,
                            animation: google.maps.Animation.DROP,
                            title: address
                        });

                        coords.marker.addListener("click", () => {

                            infowindow.open({
                                anchor: coords.marker,
                                map,
                                shouldFocus: false,
                            });
                        });

                        // Add marker to the map
                        coords.marker.setMap(map);

                        google.maps.event.addListener(coords.marker, 'dragend', function () {
                            geocodePosition(coords.marker.getPosition());
                        });
                    }

                    function geocodePosition(pos){
                        let geocoder = new google.maps.Geocoder();
                        geocoder.geocode
                        ({
                                latLng: pos
                            },
                            function(results, status)
                            {
                                if (status == google.maps.GeocoderStatus.OK)
                                {
                                    let string = results[0].formatted_address;
                                    let result = string.replaceAll(',','\n');

                                    $("#mapSearchInput").val(results[0].formatted_address);
                                    $("#mapErrorMsg").hide(100);
                                    $('#address_line_1').val(result);
                                }
                                else
                                {
                                    $("#mapErrorMsg").html('Cannot determine address at this location.'+status).show(100);
                                }
                            }
                        );
                    }

                    function displayError(msg) {
                        $("#errorArea").removeClass("d-none");
                        $("#errorArea").html(msg);
                    }

                    geoController.getCurrentPosition(displayPosition, displayError);
                };
            </script>
            <script src="{{ asset('js/geo_map.js') }}" type="text/javascript"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOX2X9tgaJA1LCfyf8tAFdqa8ueVJqzm8&;callback=gmapController.initialize" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
