<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>
            {%- block meta_title -%}
                Fluid
            {%- endblock %}
        </title>

        {% block meta_decription %}
            <meta name="description" content="">
        {% endblock %}

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="icon" href="{{ asset('images/favicon.ico') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/fontawesome/css/all.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/intlTelInput.min.css') }}">

            <script type="text/javascript">
                document.addEventListener("DOMContentLoaded", function(){
                    /////// Prevent closing from click inside dropdown
                    document.querySelectorAll('.dropdown-menu').forEach(function(element){
                        element.addEventListener('click', function (e) {
                            e.stopPropagation();
                        });
                    })
                });
                // DOMContentLoaded  end

                {# Rating #}
                function rateStyle(num, divID) {
                    var ratingRounded = Math.floor(num);
                    var starArray = document.getElementById(divID).querySelectorAll(".star-over");

                    for (var i = 0; i < ratingRounded; i++) {
                        starArray[i].classList.add("star-visible");
                    }
                    var finalStar = Math.round((num-ratingRounded)*100);
                    if (finalStar != 0) {
                        starArray[ratingRounded].classList.add("star-visible");
                        starArray[ratingRounded].style.width=finalStar+"%";
                    }
                }
            </script>
        {% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}

        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('js/jquery.session.min.js') }}"></script>
            <script src="{{ asset('js/intlTelInput.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
