<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>
            {%- block meta_title -%}
                The Vet Group
            {%- endblock %}
        </title>

        {% block meta_decription %}
            <meta name="description" content="">
        {% endblock %}

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="icon" href="{{ asset('images/favicon.ico') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

            <script type="text/javascript">
                document.addEventListener("DOMContentLoaded", function(){
                    /////// Prevent closing from click inside dropdown
                    document.querySelectorAll('.dropdown-menu').forEach(function(element){
                        element.addEventListener('click', function (e) {
                            e.stopPropagation();
                        });
                    })
                });
                // DOMContentLoaded  end
            </script>
        {% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}

        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>

            <script>

                $(document).ready(function (){

                    $(document).on('click','#search_btn',function (e){

                        e.preventDefault();

                        let keyword = $('#search_field').val();

                        $.ajax({
                            url: "{{ path('clinic_get_inventory') }}",
                            type: 'POST',
                            data: {
                                keyword: keyword
                            },
                            success: function (response) {

                            }
                        });
                    });
                });

            </script>
        {% endblock %}
    </body>
</html>
