{% extends 'layout_distributor.html.twig' %}

{% block title %}Hello DistributorsController!{% endblock %}

{% block body %}
    <div class="hidden users-flash" id="flash"></div>
    <div class="container">

        {# Account & Settings #}
        <div class="row" id="account_settings">
            <div class="col-12 mb-3 mt-5">
                <h3>Account & Settings</h3>
            </div>

            {{form_start(form, {'name': 'form_company_information', 'attr': {'id': 'form_company_information'}})}}
                <div class="col-12 mb-3 mt-2">
                    <h5>Company Information</h5>
                </div>

                <div class="row mb-3">

                    {# Company name #}
                    <div class="col-12 col-sm-6">
                        <label>
                            Company Name
                        </label>
                        {{ form_widget(form.distributorName,{id: 'distributor_name', 'attr': {
                            'class': 'form-control',
                            'placeholder': 'Distributor Name*',
                            'value': distributor.distributorName
                        }}) }}
                        <div class="hidden_msg" id="error_distributor_name">
                            Required Field
                        </div>
                    </div>

                    {# Website #}
                    <div class="col-12 col-sm-6">
                        <label>
                            Website
                        </label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">https://</span>
                            {{ form_widget(form.website,{id: 'website', 'attr': {
                                'class': 'form-control',
                                'placeholder': 'Website',
                                'value': distributor.website
                            }}) }}
                        </div>
                    </div>
                </div>

                <div class="row mb-3">

                    {# Email #}
                    <div class="col-12 col-sm-6">
                        <label>
                            Email Address
                        </label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                            {{ form_widget(form.email,{id: 'email', 'attr': {
                                'class': 'form-control',
                                'placeholder': 'Email*',
                                'value': distributor.email
                            }}) }}
                        </div>
                        <div class="hidden_msg" id="error_email">
                            Required Field
                        </div>
                    </div>

                    {# Telephone #}
                    <div class="col-12 col-sm-6">
                        <label>
                            Email Address
                        </label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            {{ form_widget(form.telephone,{id: 'telephone', 'attr': {
                                'class': 'form-control',
                                'placeholder': 'Telephone*',
                                'value': distributor.telephone
                            }}) }}
                        </div>
                        <div class="hidden_msg" id="error_telephone">
                            Required Field
                        </div>
                    </div>
                </div>

                <div class="row mb-3">

                    {# Logo #}
                    <div class="col-12" id="logo_file">
                        <label>
                            Logo
                        </label>
                        {{ form_widget(form.logo,{id: 'logo', 'attr': {
                            'class': 'form-control',
                            'placeholder': 'Logo',
                            'value': distributor.logo
                        }}) }}
                    </div>
                    <div class="col-1 hidden" id="logo_col">
                        <a href="" data-bs-toggle="modal" data-bs-target="#modal_logo">
                            <i class="fa-solid fa-image img-icon float-end"></i>
                        </a>
                    </div>
                </div>

                <div class="col-12 mt-3 mb-5">
                    <input id="btn_company_information" type="submit" class="btn btn-primary w-100" value="UPDATE COMPANY INFORMATION">
                </div>
            {{ form_end(form, {render_rest: false}) }}

            {# Modal Logo #}
            <div class="modal fade" id="modal_logo" tabindex="-1" aria-labelledby="product_delete_label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="border: none; padding-bottom: 0">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="padding: 0">
                            <div class="row">
                                <div class="col-12 mb-0 text-center">
                                    <img src="{{ asset('images/logos/' ~ distributor.logo) }}" id="logo_img" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# End Account & Settings #}

        {# About #}
        <div class="row" id="about">
            <div class="col-12 mb-3 mt-5">
                <h3>About</h3>
            </div>
            <div class="col-12 mb-3 mt-2">
                <h5>Lorem ipsum dolor sit amet</h5>
            </div>
            {{form_start(form, {'name': 'form_about_us', 'attr': {'id': 'form_about_us'}})}}

            <div class="row mb-3">
                <div class="col-12">
                    {{ form_widget(form.about,{'id': 'about_us', 'value': distributor.about, 'attr': {
                        'class': 'form-control',
                        'placeholder': 'About*'
                    }}) }}
                    <div class="hidden_msg" id="error_about_us">
                        Required Field
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12 mt-3 mb-5">
                    <button id="btn_about_us" type="submit" class="btn btn-primary w-100">UPDATE ABOUT US</button>
                </div>
            </div>
            {{ form_end(form, {render_rest: false}) }}
        </div>
        {# End About #}

        {# Operating Hours #}
        <div class="row" id="operating_hours">
            <div class="col-12 mb-3 mt-5">
                <h3>Operating Hours</h3>
            </div>
            <div class="col-12 mb-3 mt-2">
                <h5>Lorem ipsum dolor sit amet</h5>
            </div>
            {{form_start(form, {'name': 'form_operating_hours', 'attr': {'id': 'form_operating_hours'}})}}

            <div class="row mb-3">
                <div class="col-12">
                    {{ form_widget(form.operatingHours,{'id': 'operating_hours_field', 'value': distributor.operatingHours, 'attr': {
                        'class': 'form-control',
                        'placeholder': 'Operating Hours*'
                    }}) }}
                    <div class="hidden_msg" id="error_operating_hours">
                        Required Field
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12 mt-3 mb-5">
                    <button id="btn_operating_hours" type="submit" class="btn btn-primary w-100">UPDATE OPERATING HOURS</button>
                </div>
            </div>
            {{ form_end(form, {render_rest: false}) }}
        </div>
        {# End Operating Hours #}

        {# Refund Policy #}
        <div class="row" id="refund_policy">
            <div class="col-12 mb-3 mt-5">
                <h3>Refund Policy</h3>
            </div>
            <div class="col-12 mb-3 mt-2">
                <h5>Lorem ipsum dolor sit amet</h5>
            </div>
            {{form_start(form, {'name': 'form_refund_policy', 'attr': {'id': 'form_refund_policy'}})}}

            <div class="row mb-3">
                <div class="col-12">
                    {{ form_widget(form.refundPolicy,{'id': 'refund_policy_field', 'value': distributor.refundPolicy, 'attr': {
                        'class': 'form-control',
                        'placeholder': 'Refund Policy*'
                    }}) }}
                    <div class="hidden_msg" id="error_refund_policy">
                        Required Field
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12 mt-3 mb-5">
                    <button id="btn_refund_policy" type="submit" class="btn btn-primary w-100">UPDATE OPERATING HOURS</button>
                </div>
            </div>
            {{ form_end(form, {render_rest: false}) }}
        </div>
        {# End Refund Policy #}

        {# Sales Tax Policy #}
        <div class="row" id="sales_tax_policy">
            <div class="col-12 mb-3 mt-5">
                <h3>Sales Tax Policy</h3>
            </div>
            <div class="col-12 mb-3 mt-2">
                <h5>Lorem ipsum dolor sit amet</h5>
            </div>
            {{form_start(form, {'name': 'form_sales_tax_policy', 'attr': {'id': 'form_sales_tax_policy'}})}}

            <div class="row mb-3">
                <div class="col-12">
                    {{ form_widget(form.salesTaxPolicy,{'id': 'sales_tax_policy_field', 'value': distributor.salesTaxPolicy, 'attr': {
                        'class': 'form-control',
                        'placeholder': 'Sales Tax Policy*'
                    }}) }}
                    <div class="hidden_msg" id="error_sales_tax_policy">
                        Required Field
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12 mt-3 mb-5">
                    <button id="btn_sales_tax_policy" type="submit" class="btn btn-primary w-100">UPDATE OPERATING HOURS</button>
                </div>
            </div>
            {{ form_end(form, {render_rest: false}) }}
        </div>
        {# End Sales Tax Policy #}

        {# Invenory / Distributor Products #}
        <div id="inventory">
            <div class="row mb-3" id="inventory_search">
                <div class="col-12 col-sm-6 mb-3 mt-5">
                    <h3>Inventory</h3>
                </div>
                <div class="col-12 col-sm-6 mb-3 mt-5">
                    <button type="button" id="inventory_clear" class="btn btn-primary float-end">
                        <i class="fa-solid fa-circle-xmark me-2"></i>
                        CLEAR SEARCH
                    </button>
                </div>
                <div class="col-12 mb-3 mt-2">
                    <h5 id="product_name">Manage Your Inventory</h5>
                </div>
                <div class="col-12 mb-4">
                    <input type="text" id="search_field" class="form-control" placeholder="Inventory Item" autocomplete="off" />
                    <div id="suggestion_field"></div>
                </div>
            </div>
            <div class="row" id="inventory_item">
                {{form_start(form, {'name': 'form_inventory_item', 'attr': {'id': 'form_inventory_item'}})}}
                    {{ form_widget(inventory_form.product,{'id': 'product_id'}) }}
                    {{ form_widget(inventory_form.distributor,{'id': 'distributor_id'}) }}
                    <div class="row mb-3">

                        {# Dosage #}
                        <div class="col-6">
                            <label>
                                Dosage
                            </label>
                            <input type="text" class="form-control" id="dosage" disabled value="">
                        </div>

                        {# Size #}
                        <div class="col-6">
                            <label>
                                Size
                            </label>
                            <input type="text" class="form-control" id="size" disabled value="">
                        </div>
                    </div>

                    <div class="row mb-3">

                        {# Active Ingredient #}
                        <div class="col-6">
                            <label>
                                Active Ingredient
                            </label>
                            <input type="text" class="form-control" id="active_ingredient" disabled value="">
                        </div>

                        {# Pack Type #}
                        <div class="col-6">
                            <label>
                                Pack Type
                            </label>
                            <input type="text" class="form-control" id="pack_type" disabled value="">
                        </div>
                    </div>

                    <div class="row mb-3">

                        {# Unit #}
                        <div class="col-6">
                            <label>
                                Unit
                            </label>
                            <input type="text" class="form-control" id="unit" disabled value="">
                        </div>

                        {# SKU #}
                        <div class="col-6">
                            <label>
                                #SKU
                            </label>
                            {{ form_widget(inventory_form.sku,{'id': 'sku', 'attr':{
                                'class': 'form-control',
                                'placeholder': 'SKU'
                            }}) }}
                            <div class="hidden_msg" id="error_sku">
                                Required Field
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">

                        {# Serial Number #}
                        <div class="col-6">
                            <label>
                                Serial Number
                            </label>
                            {{ form_widget(inventory_form.distributorNo,{'id': 'distributor_no', 'attr':{
                                'class': 'form-control',
                                'placeholder': 'Serial Number'
                            }}) }}
                            <div class="hidden_msg" id="error_distributor_no">
                                Required Field
                            </div>
                        </div>

                        {# Unit Price #}
                        <div class="col-6">
                            <label>
                                Unit Price
                            </label>
                            {{ form_widget(inventory_form.unitPrice,{'id': 'unit_price', 'attr':{
                                'class': 'form-control',
                                'placeholder': 'Unit Price'
                            }}) }}
                            <div class="hidden_msg" id="error_unit_price">
                                Required Field
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">

                        {# Stock Level #}
                        <div class="col-6">
                            <label>
                                Stock Level
                            </label>
                            {{ form_widget(inventory_form.stockCount,{'id': 'stock_count', 'attr':{
                                'class': 'form-control',
                                'placeholder': 'Stock Level'
                            }}) }}
                            <div class="hidden_msg" id="error_stock_count">
                                Required Field
                            </div>
                        </div>

                        {# Expiry Date #}
                        <div class="col-6">
                            <label>
                                Expiry Date
                            </label>
                            {{ form_widget(inventory_form.expiryDate,{'id': 'expiry_date', 'attr':{
                                'class': 'form-control',
                            }}) }}
                        </div>
                    </div>

                    <div class="row mb-3">

                        {# Tax Empt #}
                        <div class="col-12">
                            <label class="d-block">
                                Tax Exempt
                            </label>
                            <div class="form-check form-check-inline radio-label">
                                <input type="radio" class="form-check-input" id="taxExempt_1" name="distributor_products_form[taxExempt]" value="1">
                                <label for="distributor_products_form_taxExempt_1" class="radio-text">Yes</label>
                            </div>
                            <div class="form-check form-check-inline radio-label">
                                <input type="radio" class="form-check-input" id="taxExempt_0" name="distributor_products_form[taxExempt]" value="0">
                                <label for="distributor_products_form_taxExempt_0" class="radio-text">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 mt-3 mb-5">
                            <button id="btn_inventory" type="submit" class="btn btn-primary w-100"></button>
                        </div>
                    </div>
                {{ form_end(form, {render_rest: false}) }}
            </div>
        </div>
        {# End Invenory / Distributor Products #}

        {# Users #}
        <div class="row" id="users">
            <div class="col-12 col-md-6 mb-3 mt-5">
                <h3>Manage User Accounts</h3>
            </div>
            <div class="col-12 col-md-6 mb-3 mt-5">
                {# Create New #}
                <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#modal_user" id="user_new">
                    <i class="fa-solid fa-circle-plus"></i> ADD COLLEAGUE
                </button>
            </div>
            <div class="col-12 mb-3 mt-2 info">
                TVG supports having several users under a single clinic. Each user will have their own login, can
                independently participate in the TVG discussions. You have full control over editing the permissions
                of each user in your clinic. Use the table below to view the available permission levels.
            </div>

            <div class="row d-none d-md-flex">
                <div class="col-md-2 t-header">
                    First Name
                </div>
                <div class="col-md-2 t-header">
                    Last Name
                </div>
                <div class="col-md-2 t-header">
                    Username
                </div>
                <div class="col-md-2 t-header">
                    Telephone
                </div>
                <div class="col-md-2 t-header">
                    Position
                </div>
                <div class="col-md-2 t-header">

                </div>
            </div>
            <div id="users_list">
                {% for users in distributor.distributorUsers %}
                    <div class="list-width">
                        <div class="row t-row">
                            <div class="col-md-2 t-cell" id="string_user_first_name_{{ users.id }}">
                                {{ users.firstName }}
                            </div>
                            <div class="col-md-2 t-cell" id="string_user_last_name_{{ users.id }}">
                                {{ users.lastName }}
                            </div>
                            <div class="col-md-2 t-cell" id="string_user_email_{{ users.id }}">
                                {{ users.email }}
                            </div>
                            <div class="col-md-2 t-cell" id="string_user_telephone_{{ users.id }}">
                                {{ users.telephone }}
                            </div>
                            <div class="col-md-2 t-cell" id="string_user_position_{{ users.id }}">
                                {{ users.position }}
                            </div>
                            <div class="col-md-2 t-cell">
                                <a href="" class="float-end" data-bs-toggle="modal" data-bs-target="#modal_user" id="user_update_{{ users.id }}">
                                    <i class="fa-solid fa-pen-to-square edit-icon"></i>
                                </a>
                                <a href="" class="delete-icon float-end" data-bs-toggle="modal"
                                   data-value="{{ users.id }}" data-bs-target="#modal_user_delete" id="user_delete_{{ users.id }}">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {# Modal Manage Users #}
            <div class="modal fade" id="modal_user" tabindex="-1" aria-labelledby="modal_user" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        {{form_start(form, {'name': 'form_users', 'attr': {'id': 'form_users'}})}}
                        <div class="modal-header">
                            <h5 class="modal-title" id="user_modal_label"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">

                                {# First Name #}
                                <div class="col-12 col-sm-6">
                                    {{ form_label(user_form.firstName) }}
                                    <input type="hidden" value="" name="distributor_users_form[user_id]" id="user_id">
                                    {{ form_widget(user_form.firstName,{'id': 'user_first_name', 'attr':{
                                        'class': 'form-control',
                                        'placeholder': 'First Name*'
                                    }}) }}
                                    <div class="hidden_msg" id="error_user_first_name">
                                        Required Field
                                    </div>
                                </div>

                                {# Last Name #}
                                <div class="col-12 col-sm-6">
                                    {{ form_label(user_form.lastName) }}
                                    {{ form_widget(user_form.lastName,{'id': 'user_last_name', 'attr':{
                                        'class': 'form-control',
                                        'placeholder': 'Last Name*'
                                    }}) }}
                                    <div class="hidden_msg" id="error_user_last_name">
                                        Required Field
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">

                                {# Email #}
                                <div class="col-12 col-sm-6">
                                    {{ form_label(user_form.email) }}
                                    {{ form_widget(user_form.email,{'id': 'user_email', 'attr':{
                                        'class': 'form-control',
                                        'placeholder': 'Email Address'
                                    }}) }}
                                    <div class="hidden_msg" id="error_user_email">
                                        Required Field
                                    </div>
                                </div>

                                {# Telephone Number #}
                                <div class="col-12 col-sm-6">
                                    {{ form_label(user_form.telephone) }}
                                    {{ form_widget(user_form.telephone,{'id': 'user_telephone', 'attr':{
                                        'class': 'form-control',
                                        'placeholder': '(123) 456-7890*'
                                    }}) }}
                                    <div class="hidden_msg" id="error_user_telephone">
                                        Required Field
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">

                                {# Position #}
                                <div class="col-12">
                                    {{ form_label(user_form.position) }}
                                    {{ form_widget(user_form.position,{'id': 'user_position', 'attr':{
                                        'class': 'form-control',
                                        'placeholder': 'Position'
                                    }}) }}
                                    <div class="hidden_msg" id="error_user_telephone">
                                        Required Field
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                            <button type="submit" class="btn btn-primary" id="create_user">SAVE</button>
                        </div>
                        {{ form_end(form, {render_rest: false}) }}
                    </div>
                </div>
            </div>

            {# Modal Delete User #}
            <div class="modal fade" id="modal_user_delete" tabindex="-1" aria-labelledby="user_delete_label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <input type="hidden" value="" name="addresses_form[address_id]" id="address_id">
                        <div class="modal-header">
                            <h5 class="modal-title" id="user_delete_label">Delete User</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12 mb-0">
                                    Are you sure you would like to delete this user? This action cannot be undone.
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">CANCEL</button>
                            <button type="submit" class="btn btn-danger btn-sm" id="delete_user">DELETE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# End Users #}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function(){

            let account_settings = $('#account_settings');
            let about = $('#about');
            let operating_hours = $('#operating_hours');
            let refund_policy = $('#refund_policy');
            let sales_tax_policy = $('#sales_tax_policy');
            let inventory = $('#inventory');
            let inventory_search = $('#inventory_search');
            let inventory_item = $('#inventory_item');
            let users = $('#users');
            let inventory_clear = $('#inventory_clear');

            about.hide();
            operating_hours.hide();
            refund_policy.hide();
            sales_tax_policy.hide();
            inventory.hide();
            inventory_search.hide();
            inventory_item.hide();
            users.hide();
            inventory_clear.hide();

            {# Account & Settings #}
            $('#account_settings_link').click(function (e){

                e.preventDefault();

                account_settings.show();
                about.hide();
                operating_hours.hide();
                refund_policy.hide();
                sales_tax_policy.hide();
                inventory.hide();
                inventory_search.hide();
                inventory_item.hide();
                users.hide();
            });

            {# About #}
            $('#about_link').click(function (e){

                e.preventDefault();

                account_settings.hide();
                about.show();
                operating_hours.hide();
                refund_policy.hide();
                sales_tax_policy.hide();
                inventory.hide();
                inventory_search.hide();
                inventory_item.hide();
                users.hide();
            });

            {# Operating Hours #}
            $('#operating_hours_link').click(function (e){

                e.preventDefault();

                account_settings.hide();
                about.hide();
                operating_hours.show();
                refund_policy.hide();
                sales_tax_policy.hide();
                inventory.hide();
                inventory_search.hide();
                inventory_item.hide();
                users.hide();
            });

            {# Refund Policy #}
            $('#refund_policy_link').click(function (e){

                e.preventDefault();

                account_settings.hide();
                about.hide();
                operating_hours.hide();
                refund_policy.show();
                sales_tax_policy.hide();
                inventory.hide();
                inventory_search.hide();
                inventory_item.hide();
                users.hide();
            });

            {# Sales Tax Policy #}
            $('#sales_tax_policy_link').click(function (e){

                e.preventDefault();

                account_settings.hide();
                about.hide();
                operating_hours.hide();
                refund_policy.hide();
                sales_tax_policy.show();
                inventory.hide();
                inventory_search.hide();
                inventory_item.hide();
                users.hide();
            });

            {# Inventory #}
            $('#inventory_link').click(function (e){

                e.preventDefault();

                account_settings.hide();
                about.hide();
                operating_hours.hide();
                refund_policy.hide();
                sales_tax_policy.hide();
                inventory.show();
                inventory_search.show();
                inventory_item.hide();
                users.hide();
            });

            {# Users #}
            $('#users_link').click(function (e){

                e.preventDefault();

                account_settings.hide();
                about.hide();
                operating_hours.hide();
                refund_policy.hide();
                sales_tax_policy.hide();
                inventory.hide();
                inventory_search.hide();
                inventory_item.hide();
                users.show();
            });

            {# Update Personal Information #}
            $('#btn_personal_information').click(function (e){

                e.preventDefault();

                let is_valid = true;
                let first_name = $('#first_name').val();
                let last_name = $('#last_name').val();
                let position = $('#position').val();
                let telephone = $('#telephone').val();
                let error_first_name = $('#error_first_name');
                let error_last_name = $('#error_last_name');
                let error_position = $('#error_position');
                let error_telephone = $('#error_telephone');

                error_first_name.hide();
                error_last_name.hide();
                error_position.hide();
                error_telephone.hide();

                if(first_name == '' || first_name == 'undefined'){

                    error_first_name.show();
                    is_valid = false;
                }

                if(last_name == '' || last_name == 'undefined'){

                    error_last_dashname.show();
                    is_valid = false;
                }

                if(position == '' || position == 'undefined'){

                    error_position.show();
                    is_valid = false;
                }

                if(telephone == '' || telephone == 'undefined'){

                    error_telephone.show();
                    is_valid = false;
                }

                if(is_valid == true){

                    $.ajax({
                        url: "{{ path('distributor_update_personal_information') }}",
                        type: 'POST',
                        data: {
                            first_name: first_name,
                            last_name: last_name,
                            position: position,
                            telephone: telephone,
                        },
                        success: function (response) {
                            $('#flash').addClass('alert-success');
                            $('#flash').removeClass('alert-danger');
                            $('#flash').addClass('alert');
                            $('#flash').addClass('text-center');
                            $('#flash').removeClass('users-flash');
                            $('#flash').addClass('users-flash');
                            $('#flash').empty();
                            $('#flash').append(response);
                            $('#flash').removeClass('hidden');
                        }
                    });
                }
            });
            {# End Update Personal Information #}

            {# Update Company Information #}
            let logo = '{{ distributor.logo }}';

            if(logo != null || logo != ''){

                $('#logo_file').removeClass('col-12').addClass('col-11');
                $('#logo_col').removeClass('hidden');
            }

            $('#form_company_information').submit(function (e) {

                e.preventDefault();

                let is_valid = true;
                let company_name = $('#distributor_name').val();
                let email = $('#email').val();
                let telephone = $('#telephone').val();
                let error_company_name = $('#error_distributor_name');
                let error_email = $('#error_email');
                let error_telephone = $('#error_telephone');

                error_company_name.hide();
                error_email.hide();
                error_telephone.hide();

                if(company_name == '' || company_name == 'undefined'){

                    error_company_name.show();
                    is_valid = false;
                }

                if(email == '' || email == 'undefined'){

                    error_email.show();
                    is_valid = false;
                }

                if(telephone == '' || telephone == 'undefined'){

                    error_telephone.show();
                    is_valid = false;
                }

                if(is_valid == true){

                    // Create an FormData object
                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('distributor_update_company_information') }}",
                        type: 'POST',
                        processData: false,
                        contentType: false,
                        data: data,
                        dataType: 'json',
                        success: function (response) {
                            $('#flash').addClass('alert-success');
                            $('#flash').removeClass('alert-danger');
                            $('#flash').addClass('alert');
                            $('#flash').addClass('text-center');
                            $('#flash').removeClass('users-flash');
                            $('#flash').addClass('users-flash');
                            $('#flash').empty();
                            $('#flash').append(response.message);
                            $('#flash').removeClass('hidden');

                            if(response.logo != null && response.logo != ''){

                                $('#logo_img').attr('src', '/images/logos/' + response.logo);
                            }
                        }
                    });
                }
            });
            {# End Update Company Information #}

            {# About Us #}
            $('#form_about_us').submit(function(e){

                e.preventDefault();

                let is_valid = true;
                let about_us = CKEDITOR.instances.about_us.getData();
                let error_about_us = $('#error_about_us');

                error_about_us.hide();

                if(about_us == '' || about_us == 'undefined'){

                    error_about_us.show();
                    is_valid = false;
                }

                if(is_valid == true){

                    // Create an FormData object
                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('distributor_update_about_us') }}",
                        type: 'POST',
                        data: data,
                        dataType: 'json',
                        success: function (response) {
                            $('#flash').addClass('alert-success');
                            $('#flash').removeClass('alert-danger');
                            $('#flash').addClass('alert');
                            $('#flash').addClass('text-center');
                            $('#flash').removeClass('users-flash');
                            $('#flash').addClass('users-flash');
                            $('#flash').empty();
                            $('#flash').append(response);
                            $('#flash').removeClass('hidden');
                        }
                    });
                }
            });
            {# End About Us #}

            {# Operating Hours #}
            $(document).on('click', '#btn_operating_hours', function(e){

                e.preventDefault();

                let is_valid = true;
                let operating_hours = CKEDITOR.instances.operating_hours_field.getData();
                let error_operating_hours = $('#error_operating_hours');

                error_operating_hours.hide();

                if(operating_hours == '' || operating_hours == 'undefined'){

                    error_operating_hours.show();
                    is_valid = false;
                }

                if(is_valid == true){

                    $.ajax({
                        url: "{{ path('distributor_update_operating_hours') }}",
                        type: 'POST',
                        data: {
                            operating_hours: operating_hours
                        },
                        dataType: 'json',
                        success: function (response) {
                            $('#flash').addClass('alert-success');
                            $('#flash').removeClass('alert-danger');
                            $('#flash').addClass('alert');
                            $('#flash').addClass('text-center');
                            $('#flash').removeClass('users-flash');
                            $('#flash').addClass('users-flash');
                            $('#flash').empty();
                            $('#flash').append(response);
                            $('#flash').removeClass('hidden');
                        }
                    });
                }
            });
            {# End About Us #}

            {# Refund Policy #}
            $(document).on('click', '#btn_refund_policy', function(e){

                e.preventDefault();

                let is_valid = true;
                let refund_policy = CKEDITOR.instances.refund_policy_field.getData();
                let error_refund_policy = $('#error_about_us');

                error_refund_policy.hide();

                if(refund_policy == '' || refund_policy == 'undefined'){

                    error_refund_policy.show();
                    is_valid = false;
                }

                if(is_valid == true){

                    $.ajax({
                        url: "{{ path('distributor_update_refund_policy') }}",
                        type: 'POST',
                        data: {
                            refund_policy: refund_policy
                        },
                        dataType: 'json',
                        success: function (response) {
                            $('#flash').addClass('alert-success');
                            $('#flash').removeClass('alert-danger');
                            $('#flash').addClass('alert');
                            $('#flash').addClass('text-center');
                            $('#flash').removeClass('users-flash');
                            $('#flash').addClass('users-flash');
                            $('#flash').empty();
                            $('#flash').append(response);
                            $('#flash').removeClass('hidden');
                        }
                    });
                }
            });
            {# End Refund Policy #}

            {# Sales Tax Policy #}
            $(document).on('click', '#btn_sales_tax_policy', function(e){

                e.preventDefault();

                let is_valid = true;
                let sales_tax_policy = CKEDITOR.instances.sales_tax_policy_field.getData();
                let error_sales_tax_policy = $('#error_sales_tax_policy');

                error_sales_tax_policy.hide();

                if(sales_tax_policy == '' || sales_tax_policy == 'undefined'){

                    error_sales_tax_policy.show();
                    is_valid = false;
                }

                if(is_valid == true){

                    $.ajax({
                        url: "{{ path('distributor_update_sales_tax_policy') }}",
                        type: 'POST',
                        data: {
                            sales_tax_policy: sales_tax_policy
                        },
                        dataType: 'json',
                        success: function (response) {
                            $('#flash').addClass('alert-success');
                            $('#flash').removeClass('alert-danger');
                            $('#flash').addClass('alert');
                            $('#flash').addClass('text-center');
                            $('#flash').removeClass('users-flash');
                            $('#flash').addClass('users-flash');
                            $('#flash').empty();
                            $('#flash').append(response);
                            $('#flash').removeClass('hidden');
                        }
                    });
                }
            });
            {# End Sales Tax Policy #}

            {# Invenory / Distributor Products #}
            $('#form_inventory_item').submit(function(e){

                e.preventDefault();

                let is_valid = true;
                let unit_price = $('#unit_price');
                let error_unit_price = $('#error_unit_price');

                error_unit_price.hide();

                if(unit_price == '' || unit_price == 'undefined'){

                    error_unit_price.show();
                    is_valid = false;
                }

                if(is_valid == true){

                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('distributor_inventory_update') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        success: function (response) {
                            $('#flash').addClass('alert-success');
                            $('#flash').removeClass('alert-danger');
                            $('#flash').addClass('alert');
                            $('#flash').addClass('text-center');
                            $('#flash').removeClass('users-flash');
                            $('#flash').addClass('users-flash');
                            $('#flash').empty();
                            $('#flash').append(response);
                            $('#flash').removeClass('hidden');
                        }
                    });
                }
            });

            $("#search_field").keyup(function(){

                $.ajax({
                    type: "POST",
                    url: "{{ path('distributor_inventory_search') }}",
                    data:'keyword='+$(this).val(),
                    success: function(data){
                        $("#suggestion_field").show();
                        $("#suggestion_field").html(data);
                    }
                });
            });
            {# End Invenory / Distributor Products #}

            {# Users #}
            $('#users_link').click(function (e){

                e.preventDefault();

                account_settings.hide();
                about.hide();
                operating_hours.hide();
                refund_policy.hide();
                sales_tax_policy.hide();
                inventory_search.hide();
                inventory_item.hide();
                users.show();
            });

            {# Clear Search #}
            $(document).on('click', '#inventory_clear', function (){

                $('#search_field').val('');
                $('#product_name').empty().append('Manage Your Inventory');
                $('#inventory_item').hide();
                inventory_clear.hide();
            });

            {# Create User Btn #}
            $('#user_new').click(function (){

                $('#create_user').empty().append('CREATE USER');
                $('#user_modal_label').empty().append('Create a User');
                $('#user_id').val(0);
                $('#user_first_name').val('');
                $('#user_last_name').val('');
                $('#user_email').val('');
                $('#user_telephone').val('');
                $('#user_position').val('');
            });

            {% for user in distributor.DistributorUsers %}

            {# Update User #}
            $(document).on('click', '#user_update_{{ user.id }}', function () {

                $('#create_user').empty().append('UPDATE USER');

                $.ajax({
                    url: "{{ path('distributor_get_user') }}",
                    type: 'POST',
                    data: {
                        id: {{ user.id }}
                    },
                    success: function (response) {
                        $('#user_first_name').val(response.first_name);
                        $('#user_last_name').val(response.last_name);
                        $('#user_email').val(response.email);
                        $('#user_telephone').val(response.telephone);
                        $('#user_position').val(response.position);
                    }
                });

                $('#user_id').val({{ user.id }});
                $('#user_modal_label').empty().append('Update a User');
            });

            {# Delete User #}
            $(document).on('click', '#user_delete_{{ user.id }}', function () {

                user_id = {{ user.id }};

                $(document).on('click', '#delete_user', function () {

                    $.ajax({
                        url: "{{ path('distributor_user_delete') }}",
                        type: 'POST',
                        data: {
                            id: user_id
                        },
                        success: function (response) {
                            $('#flash').addClass('alert-success');
                            $('#flash').removeClass('alert-danger');
                            $('#flash').addClass('alert');
                            $('#flash').addClass('text-center');
                            $('#flash').removeClass('users-flash');
                            $('#flash').addClass('users-flash');
                            $('#flash').empty();
                            $('#flash').append(response);
                            $('#flash').removeClass('hidden');
                            $('#modal_user_delete').modal('toggle');
                            $('#modal_user_delete').modal('hide');
                            $('.modal-backdrop').removeClass('modal-backdrop');
                            $('#modal_user_delete').addClass('fade');

                            $.ajax({
                                url: "{{ path('distributor_refresh_users') }}",
                                type: 'POST',
                                contentType: false,
                                processData: false,
                                cache: false,
                                timeout: 600000,
                                dataType: 'json',
                                success: function (response) {
                                    $('#users_list').empty().append(response);
                                }
                            });
                        }
                    });
                });
            });
            {% endfor %}

            {# Create User #}
            $('#form_users').submit(function(e){

                e.preventDefault();

                let is_valid = true;
                let user_first_name = $('#user_first_name').val()
                let user_last_name = $('#user_last_name').val();
                let user_email = $('#user_email').val();
                let user_telephone = $('#user_telephone').val();
                let error_user_first_name = $('#error_user_first_name');
                let error_user_last_name = $('#error_user_last_name');
                let error_user_email = $('#error_user_email');
                let error_user_telephone = $('#error_user_telephone');

                error_user_first_name.hide();
                error_user_last_name.hide();
                error_user_email.hide();
                error_user_telephone.hide();

                if(user_first_name == '' || user_first_name == 'undefined'){

                    error_user_first_name.show();
                    is_valid = false;
                }

                if(user_last_name == '' || user_last_name == 'undefined'){

                    error_user_last_name.show();
                    is_valid = false;
                }

                if(user_email == '' || user_email == 'undefined'){

                    error_user_email.show();
                    is_valid = false;
                }

                if(user_telephone == '' || user_telephone == 'undefined'){

                    error_user_telephone.show();
                    is_valid = false;
                }

                if(is_valid == true){

                    let data = new FormData(this);

                    $('#create_user').empty().attr('disabled', true).append('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> PROCESSING...');

                    $.ajax({
                        url: "{{ path('distributor_users') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        success: function (response) {

                            if (response.response) {
                                $('#flash').addClass('alert-success');
                                $('#flash').removeClass('alert-danger');
                                $('#flash').addClass('alert');
                                $('#flash').addClass('text-center');
                                $('#flash').removeClass('users-flash');
                                $('#flash').addClass('users-flash');
                                $('#flash').empty();
                                $('#flash').append(response.message);
                                $('#flash').removeClass('hidden');
                                $('#modal_user').modal('toggle');
                                $('#modal_user').modal('hide');
                                $('.modal-backdrop').removeClass('modal-backdrop');
                                $('.fade').removeClass('fade');
                                $('#user_first_name').val('');
                                $('#user_last_name').val('');
                                $('#user_email').val('');
                                $('#user_telephone').val('');
                                $('#user_position').val('');
                                $('#create_user').empty().append('SAVE').attr('disabled', false);

                                $.ajax({
                                    url: "{{ path('distributor_refresh_users') }}",
                                    type: 'POST',
                                    contentType: false,
                                    processData: false,
                                    cache: false,
                                    timeout: 600000,
                                    dataType: 'json',
                                    data: data,
                                    success: function (response) {
                                        $('#users_list').empty().append(response);
                                    }
                                });
                            } else {

                                $('#error_user_email').empty();
                                $('#error_user_email').append('Email address exists.');
                                $('#error_user_email').show();
                                $('#create_user').empty().append('SAVE').attr('disabled', false);
                            }
                        }
                    });
                }
            });
            {# End Users #}

            {# Clode Flash Message #}
            $('#flash').click(function (){
                $('#flash').addClass('hidden');
            });
        });

        function selectProduct(id, name) {
            if (id > 0) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('distributor_inventory_get') }}",
                    data: {
                        product_id: id,
                    },
                    success: function (data) {

                        $("#suggestion_field").show();
                        $("#suggestion_field").html(data);
                        $('#product_id').val(id);
                        $('#distributor_id').val(data.distributor_id);
                        $('#sku').val(data.sku);
                        $('#distributor_no').val(data.distributor_no);
                        $('#unit_price').val(data.unit_price);
                        $('#stock_count').val(data.stock_count);
                        $('#expiry_date').val(data.expiry_date);
                        $('#dosage').val(data.product.dosage);
                        $('#size').val(data.product.size);
                        $('#pack_type').val(data.product.packType);
                        $('#unit').val(data.product.unit);
                        $('#active_ingredient').val(data.product.activeIngredient);
                        $('#btn_inventory').empty();
                        $('#btn_inventory').append('UPDATE ' + name.toUpperCase());
                        $('#product_name').empty();
                        $('#product_name').append(name + data.product.dosage + data.product.unit + data.product.size);
                        $('#inventory_item').show();
                        $('#inventory_clear').show();

                        $('#taxExempt_0').attr('checked', false);
                        $('#taxExempt_1').attr('checked', false);

                        if(data.tax_exempt == 0){

                            $('#taxExempt_0').attr('checked', true);

                        } else {

                            $('#taxExempt_1').attr('checked', true);
                        }
                    }
                });

                $("#search_field").val(name);
                $("#suggestion_field").hide();
            }
        }
    </script>
{% endblock %}
